* {
  box-sizing: border-box;

  &::-moz-selection {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  &::selection {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  color: var(--black-color);
  text-decoration: none;
}

input,
textarea,
div {
  outline: none;
}

// Remove controls from number inputs START
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
// Remove controls from number inputs END
