@import "./scss-variables";

:root {
  --vertical-bordering-padding: 20px;
  --horizontal-bordering-padding: 20px;
  --key-blocks-indent-size: 26px;
  --field-height: 48px;

  --border-radius: 12px;

  --primary-color: #4e91f7;
  --primary-hover-color: #6aa2f6;
  --primary-click-color: #8bb4f3;
  --primary-highlight-color: rgba(78, 145, 247, 0.2);
  --primary-background-color: #eaeff8;
  --error-color: #f77968;
  --warning-color: #eca81e;
  --success-color: #5ab078;
  --disabled-text-color: rgba(0, 0, 0, 0.5);

  --mat-primary-color: #3f51b5;

  --white-color: #ffffff;
  --black-color: #000000;
  --light-black-color: rgba(0, 0, 0, 0.12);
  --grey-color: #b1b1b1;
  --green-color: #4caf50;
  --light-green-color: rgba(76, 175, 80, 0.12);
  --red-color: #f44336;
  --light-red-color: rgba(244, 67, 54, 0.12);
  --amber-color: #ffc107;
  --light-amber-color: rgba(255, 193, 7, 0.12);

  --max-content-width: 1280px;
}

@media (min-width: $minLaptopScreenWidth) {
  :root {
    --vertical-bordering-padding: 26px;
    --horizontal-bordering-padding: 60px;
    --key-blocks-indent-size: 32px;
  }
}
