$extraSmallMobileScreenWidth: 280px; // GALAXY FOLD
$smallMobileScreenWidth: 320px;
$mediumMobileScreenWidth: 360px;
// $maxMobileScreenWidth: 480px;
$minTabletScreenWidth: 481px;
$minLaptopScreenWidth: 769px;
$minDesktopScreenWidth: 1025px;
// $maxDesktopScreenWidth: 1200px;

$maxContentWidth: 1280px;
