$extraSmallMobileScreenWidth: 280px; // GALAXY FOLD
$smallMobileScreenWidth: 320px;
$mediumMobileScreenWidth: 360px;
$minTabletScreenWidth: 481px;
$minLaptopScreenWidth: 769px;
$minDesktopScreenWidth: 1025px;
