<!-- TODO: Check if everything is needed here or some other components can be created -->
<div class="new-help-offer-dialog">
  <h2 mat-dialog-title>{{ "dialogs.newHelpOffer.title" | translate }}</h2>

  <mat-dialog-content>
    <form [formGroup]="newHelpOfferForm">
      <app-input-control
        [label]="'dialogs.newHelpOffer.fullNameFieldLabel' | translate"
        formControlName="authorFullName"
      ></app-input-control>

      <ng-container *ngIf="dateType$ | async as dateType">
        <fieldset>
          <legend>Абярыце фармат даты</legend>

          <div class="date-option" [class.active]="dateType === 'specific'" (click)="switchToSpecificDate()">
            <span>Дакладная дата</span>
          </div>

          <div class="date-option" [class.active]="dateType ==='range'" (click)="switchToDateRange()">
            <span>Інтэрвал дат</span>
          </div>
        </fieldset>

        <ng-container *ngIf="dateType === 'specific'">
          <app-date-control formControlName="specificDateAsString"></app-date-control>
        </ng-container>

        <ng-container *ngIf="dateType === 'range'">
          <div>
            <span>З</span>
            <app-date-control formControlName="dateFromAsString"></app-date-control>
          </div>

          <div>
            <span>Па</span>
            <app-date-control formControlName="dateToAsString"></app-date-control>
          </div>
        </ng-container>
      </ng-container>

      <app-input-control
        [label]="'dialogs.newHelpOffer.countryFromFieldLabel' | translate"
        formControlName="countryFrom"
      ></app-input-control>
      <app-input-control
        [label]="'dialogs.newHelpOffer.cityFromFieldLabel' | translate"
        formControlName="cityFrom"
      ></app-input-control>
      <app-input-control
        [label]="'dialogs.newHelpOffer.countryToFieldLabel' | translate"
        formControlName="countryTo"
      ></app-input-control>
      <app-input-control
        [label]="'dialogs.newHelpOffer.cityToFieldLabel' | translate"
        formControlName="cityTo"
      ></app-input-control>

      <div class="phones">
        <form *ngFor="let phone of newHelpOfferForm.controls.phones.controls" [formGroup]="phone">
          <div>
            <app-input-control
              [label]="'dialogs.newHelpOffer.diallingCodeFieldLabel' | translate"
              formControlName="diallingCode"
            ></app-input-control>
            <app-input-control
              [label]="'dialogs.newHelpOffer.phoneNumberFieldLabel' | translate"
              formControlName="number"
            ></app-input-control>
          </div>
        </form>
      </div>

      <div>
        <label for="comment">{{ "dialogs.newHelpOffer.commentFieldLabel" | translate }}</label>
        <textarea id="comment" formControlName="comment"></textarea>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>
      <span>{{ "dialogs.newHelpOffer.cancelButtonLabel" | translate }}</span>
    </button>

    <button
      mat-flat-button color="primary"
      (click)="handleCreateButtonClick()"
    >
      <span>{{ "dialogs.newHelpOffer.createButtonLabel" | translate }}</span>
    </button>
  </mat-dialog-actions>
</div>
