<div
  class="phone-control custom-control"
  [class.custom-control--required]="controlRequired"
>
  <label class="custom-control__label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <form class="phone-control-form" [formGroup]="phoneForm">
    <app-dropdown-control
      class="phone-code-dropdown"
      [dataSource]="phoneDiallingCodesDataSource"
      placeholder="+375"
      formControlName="diallingCode"
      (optionClick)="handleDropdownOptionClick(inputRef)"
      (focus)="handleDropdownFocus()"
      (blur)="handleDropdownBlur($event)"
    >
    </app-dropdown-control>

    <input
      #inputRef
      class="custom-control__field custom-control__field--with-trailing-icon app-custom-placeholder"
      [class.custom-control__field--focused]="controlFocused"
      [class.custom-control__field--invalid-value]="!!phoneForm.controls.number.errors?.['pattern']"
      [id]="controlId"
      [placeholder]="controlPlaceholder"
      type="text"
      autocomplete="chrome-off"
      formControlName="number"
      (focus)="handleInputFocus()"
      (blur)="handleInputBlur($event)"
    />
  </form>

  <!-- TODO: Refactor -->
  <div
    class="pattern-error-tooltip"
    *ngIf="!!phoneForm.controls.number.errors?.['pattern']"
  >
    <div>Пакіньце толькі лічбы</div>
    <div>даўжынёй ад 7 да 12 знакаў</div>
  </div>

  <ng-container *ngIf="showPlus || showMinus">
    <button
      class="trailing-button"
      *ngIf="showPlus"
      matRipple
      type="button"
      tabindex="-1"
      (click)="handlePlusClick()"
    >
      <ng-container *ngTemplateOutlet="plusIconSvg"></ng-container>
    </button>

    <button
      class="trailing-button"
      *ngIf="showMinus"
      matRipple
      type="button"
      tabindex="-1"
      (click)="handleMinusClick()"
    >
      <ng-container *ngTemplateOutlet="minusIconSvg"></ng-container>
    </button>
  </ng-container>
</div>

<ng-template #plusIconSvg>
  <svg
    class="plus-icon"
    [class.plus-icon--primary-colored]="controlFocused"
    width="16"
    height="16"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19 10L1 10M10 19L10 1"
      stroke="#B1B1B1"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</ng-template>

<ng-template #minusIconSvg>
  <svg
    class="minus-icon"
    [class.minus-icon--primary-colored]="controlFocused"
    width="16"
    height="2"
    viewBox="0 0 20 2"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19 1L1 1"
      stroke="#B1B1B1"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</ng-template>
