@import '../../../styles/scss-variables';

:host {
  display: flex;
}

.phone-control-form {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.phone-code-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: var(--field-height);
}

.custom-control__field {
  padding-left: 73px;
  padding-right: 40px;

  &.custom-control__field--focused {
    border-color: var(--primary-color);
  }
}

.trailing-button-container {
  right: 12px;
  bottom: 0;
  display: flex;
  align-items: center;
  height: var(--field-height);
}

.trailing-button {
  cursor: pointer;
  position: absolute;
  right: 6px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (min-width: $smallMobileScreenWidth) {
  .trailing-button {
    bottom: 6px;
    width: 36px;
    height: 36px;
  }
}
