// TODO: Adaptive layout

:host {
  display: flex;
}

.phone-control-form {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.phone-code-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: var(--field-height);
}

.custom-control__field {
  padding-left: 73px;
  padding-right: 40px;

  &.custom-control__field--focused {
    border-color: var(--primary-color);
  }
}

.trailing-button-container {
  position: absolute;
  right: 12px;
  bottom: 0;
  display: flex;
  align-items: center;
  height: var(--field-height);
}

.plus-button,
.minus-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}
