:host {
  display: block;
}

.status {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--light-black-color);

  &.status--published {
    color: var(--green-color);
    background-color: var(--light-green-color);
  }

  &.status--unpublished {
    color: var(--amber-color);
    background-color: var(--light-amber-color);
  }

  &.status--rejected {
    color: var(--red-color);
    background-color: var(--light-red-color);
  }

  &.status--small {
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  &.status--big {
    justify-content: center;
    padding: 6px 4px;
    letter-spacing: 2px;
    border-radius: 6px;
  }
}
