<ng-container *ngIf="_publishedApplication">
  <!-- TODO: Remove app-list-card class and related ones -->
  <app-fold
    class="applications-list-item app-list-card"
    [class.app-list-card--hovered]="isHovered"
    [class.app-list-card--unfolded]="isUnfolded"
    [class.app-list-card--deletion-in-progress]="_deletionInProgress"
    matRipple
    [matRippleAnimation]="{ enterDuration: 450 }"
    appHover
    [disabled]="_deletionInProgress"
    (click)="handleCardClick()"
  >
    <ng-container staticPart>
      <div class="main-part">
        <div class="main-part__left">
          <div class="direction-and-full-name">
            <div class="direction">
              <span>{{
                _publishedApplication.locationFrom | locationLabel | translate
              }}</span>
              <span> - </span>
              <span>{{
                _publishedApplication.locationTo | locationLabel | translate
              }}</span>
            </div>

            <div class="full-name">
              <span>{{ _publishedApplication.fullName }}</span>
            </div>
          </div>

          <div
            class="dates"
            *ngIf="_localeService.currentLocale$ | async as currentLocale"
          >
            <span>{{ _publishedApplication | dates : currentLocale }}</span>
          </div>
        </div>

        <div class="main-part__right">
          <app-arrow-down-icon
            class="toggle-icon"
            [color]="isHovered || isUnfolded ? 'primary' : 'grey'"
          >
          </app-arrow-down-icon>
        </div>
      </div>
    </ng-container>

    <ng-container foldablePart>
      <app-list-card-comment
        class="comment"
        [text]="_publishedApplication.comment"
      ></app-list-card-comment>

      <div class="app-list-card__phones">
        <div class="app-list-card__phones-label">
          <span>{{ "components.listCard.phones" | translate }}</span>
        </div>

        <div class="app-list-card__phones-list">
          <a
            class="app-list-card__phones-list-item"
            *ngFor="let phone of _publishedApplication.phones"
            [href]="phone | phoneHref"
            (click)="$event.stopImmediatePropagation()"
          >
            <span>{{ phone | phoneView }}</span>
          </a>
        </div>
      </div>

      <!-- TODO: Temporary remove it from the page -->
      <ng-template>
        <div class="public-id">
          <div class="public-id__label">
            <span>{{ "components.listCard.applicationId" | translate }}</span>
          </div>

          <div class="public-id__value">
            <span>{{ _publishedApplication.publicId }}</span>
          </div>
        </div>
      </ng-template>

      <app-delete-button
        class="app-list-card__delete-button"
        *ngIf="_showActions"
        (innerClick)="handleDeleteButtonClick($event)"
      >
      </app-delete-button>
    </ng-container>
  </app-fold>
</ng-container>
