<mat-card class="help-offer-card">
  <mat-card-header class="header">
    <mat-card-title class="header__title">
      <span>Раман Аляксанаў</span>
    </mat-card-title>

    <mat-card-subtitle class="header__subtitle">
      <mat-icon class="icon header__subtitle-icon">keyboard_double_arrow_right</mat-icon>
      <div class="header__subtitle-content">
        <span class="label">
          Напрамак:
        </span>
        <span>
          <img class="flag flag_belarus" src="assets/images/flag_of_belarus.png" title="Беларусь">
        </span>
        <mat-icon class="icon arrow">trending_flat</mat-icon>
        <span>
          <img class="flag flag_poland" src="assets/images/flag_of_poland.jpg" title="Польшча">
        </span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <p class="content__date">
      <mat-icon class="content__date-icon">event</mat-icon>
      <span class="content__date-label">Калі: 22.12.2022</span>
    </p>
  </mat-card-content>

  <mat-card-actions class="actions" align="end">
    <button class="actions__item" mat-flat-button color="primary">
      <span>Паглядзець</span>
    </button>
  </mat-card-actions>
</mat-card>
