:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.inner-page-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header {
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}
