<div class="admin-deleted-help-offer-dialog-view">
  <div class="content">
    <div class="content__main">
      <p class="paragraph">
        <mat-icon class="paragraph__icon" color="success">check_circle</mat-icon>

        <span class="paragraph__text">
          {{ 'dialogs.adminManageHelpOffer.successfulHelpOfferDeletionMessage' | translate }}
        </span>
      </p>
    </div>

    <div class="content__secondary">
      <p class="paragraph">
        <mat-icon class="paragraph__icon" color="warn">priority_high</mat-icon>

        <span class="paragraph__text">
          {{ 'dialogs.adminManageHelpOffer.accidentalHelpOfferDeletionWarningMessage' | translate }}
        </span>
      </p>
    </div>
  </div>

  <div class="actions">
    <button
      class="actions__item"
      mat-flat-button
      color="primary"
      (click)="handleOkButtonClick()"
    >
      <span>
        {{ 'dialogs.adminManageHelpOffer.okButtonLabel' | translate }}
      </span>
    </button>
  </div>
</div>
