@import "../../../styles/screen-size-mixins";

:host {
  display: block;
}

.login-or-signup-dialog {
  display: flex;
  flex-direction: column;
}

.title {
  flex-shrink: 0;
  padding: 0 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.girl-with-laptop-image {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.actions__item {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

// TODO: Desktop styles leave much to be desired
// And they are not aligned with the design
// Revisit them once there will be some free time
@include for-tablet {
  .content-container {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .girl-with-laptop-image {
    margin-bottom: 0;
    margin-left: 50px;
  }

  .actions {
    width: auto;
  }

  .actions__item {
    min-width: 240px;
  }
}
