@import "../../styles/screen-size-mixins";

:host {
  display: block;
  position: relative;

  & ::ng-deep {
    .highlight {
      color: var(--primary-color);
    }
  }
}

.section-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 15px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 2px rgba($color: #4e91f7, $alpha: 0.2) !important; // PRIMARY COLOR
}

.text {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 19px;
  text-align: justify;
}

.image {
  max-width: 100%;
}

@include for-tablet {
  .section-root {
    padding: 30px;
  }

  .text {
    font-size: 0.9rem;
    line-height: 21px;
  }
}
