$offset: 20px;

div.app-custom-dialog {
  position: fixed !important;
  right: $offset;
  left: $offset;
  padding: 40px 20px;
  background-color: var(--primary-background-color);
  border-radius: var(--border-radius);
}

h2.app-custom-dialog-title {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

div.app-custom-dialog-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
