@import "../scss-variables";
@import "./scrollbar";

div.app-custom-dialog {
  position: relative !important;
  max-height: 96%;
  margin: 0 15px;
  padding: 30px 15px;
  background-color: var(--primary-background-color);
  border-radius: var(--border-radius);
  overflow-y: auto;

  .cdk-dialog-container {
    max-width: 100%;
    max-height: 100%;
  }
}

h2.app-custom-dialog-title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

div.app-custom-dialog-close-button {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  .app-custom-dialog-close-button-icon {
    transform: rotate(45deg) scale(1.05);
  }
}

div.app-custom-dialog-actions {
  display: flex;
  flex-shrink: 0;
  margin-top: 10px;
}

button.app-custom-dialog-actions__item {
  flex-shrink: 0;
  width: 100%;
}

@media (min-width: $smallMobileScreenWidth) {
  div.app-custom-dialog {
    margin: 0 20px;
    padding: 40px 20px;
  }

  h2.app-custom-dialog-title {
    margin-bottom: 30px;
  }

  div.app-custom-dialog-close-button {
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;

    .app-custom-dialog-close-button-icon {
      transform: rotate(45deg) scale(1.1);
    }
  }

  div.app-custom-dialog-actions {
    margin-top: 30px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  div.app-custom-dialog {
    @include scrollbar();

    width: 100%;
    max-width: 700px;
    max-height: 92%;
  }

  div.app-custom-dialog-actions {
    justify-content: center;
  }
}
