@import '../scss-variables';

.dropdown-control-pane {
  width: 70px;
}

.dropdown-control-backdrop {
  background-color: transparent;
}

@media (min-width: $minLaptopScreenWidth) {
  .dropdown-control-pane {
    width: 75px;
  }
}
