.app-error-snack-bar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    max-width: 400px;
    background-color: var(--primary-background-color);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px 2px rgba($color: #f77968, $alpha: 0.2) !important; // PRIMARY COLOR
  }
}
