@import '../scss-variables';

.app-list-card {
  cursor: pointer;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: 0.25s all ease-in-out;

  &.app-list-card--hovered,
  &.app-list-card--unfolded {
    z-index: 1;
    box-shadow: 5px 5px 18px 3px rgba($color: #4e91f7, $alpha: 0.23); // PRIMARY COLOR
  }

  &.app-list-card--deletion-in-progress {
    pointer-events: none;
    opacity: 0.35;
  }
}

.app-list-card__delete-button {
  margin-top: 20px;
}

@media (min-width: $minLaptopScreenWidth) {
  .app-list-card {
    padding: 20px 80px;

    &.app-list-card--unfolded {
      .app-list-card__delete-button {
        opacity: 1;
      }
    }
  }

  .app-list-card__delete-button {
    position: absolute;
    right: 80px;
    bottom: 22px;
    opacity: 0;
    transition: 0.25s opacity ease-in-out;
  }
}
