// MAT-CALENDAR START
.mat-datepicker-content .mat-calendar {
  max-width: 220px;
  max-height: 279px;
}

.mat-calendar-body-selected {
  background-color: var(--primary-color);
}

.mat-calendar-body-in-range::before {
  background-color: var(--primary-highlight-color);
}

.mat-datepicker-close-button {
  pointer-events: none !important;
  display: none !important;
}

.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--primary-highlight-color);
}

.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--primary-highlight-color);
}
// MAT-CALENDAR END

// MAT-AUTOCOMPLETE START
.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
  color: var(--primary-color);
}
// MAT-AUTOCOMPLETE END

// TODO: Check if colors still needed
.mat-custom-green {
  color: var(--green-color) !important;
  background-color: var(--light-green-color) !important;
}

.mat-custom-yellow {
  color: var(--amber-color) !important;
  background-color: var(--light-amber-color) !important;
}

.mat-custom-red {
  color: var(--red-color) !important;
  background-color: var(--light-red-color) !important;
}

@media (min-width: $smallMobileScreenWidth) {
  .mat-datepicker-content .mat-calendar {
    max-width: 240px;
    max-height: 298px;
  }
}

@media (min-width: $mediumMobileScreenWidth) {
  .mat-datepicker-content .mat-calendar {
    max-width: 260px;
    max-height: 318px;
  }
}
