// MAT-CALENDAR START
.mat-calendar-body-selected {
  background-color: var(--primary-color);
}

.mat-calendar-body-in-range::before {
  background-color: var(--primary-highlight-color);
}

.mat-datepicker-close-button {
  pointer-events: none !important;
  display: none !important;
}

.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--primary-highlight-color);
}

.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--primary-highlight-color);
}
// MAT-CALENDAR END

// MAT-MENU START
.app-custom-menu {
  margin: 4px 0 !important;
  box-shadow: 2px 2px 5px 2px rgba($color: #4e91f7, $alpha: 0.2) !important; // PRIMARY COLOR

  .mat-mdc-menu-item {
    min-height: 34px;

    .mdc-list-item__primary-text {
      font-size: 1.1rem;
      font-weight: 500;
      font-family: "Manrope", sans-serif;
      letter-spacing: 0.2px;
    }
  }
}
// MAT-MENU END

.cdk-overlay-container {
  cursor: default;
}

.cdk-overlay-backdrop {
  z-index: 999;
}

// TODO: Check if colors still needed
.mat-custom-green {
  color: var(--green-color) !important;
  background-color: var(--light-green-color) !important;
}

.mat-custom-yellow {
  color: var(--amber-color) !important;
  background-color: var(--light-amber-color) !important;
}

.mat-custom-red {
  color: var(--red-color) !important;
  background-color: var(--light-red-color) !important;
}
