.mat-custom-green {
  color: var(--green-color) !important;
  background-color: var(--light-green-color) !important;
}

.mat-custom-yellow {
  color: var(--amber-color) !important;
  background-color: var(--light-amber-color) !important;
}

.mat-custom-red {
  color: var(--red-color) !important;
  background-color: var(--light-red-color) !important;
}
