@import '../scss-variables';

button.app-primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: .15s all ease-in-out;

  &:focus {
    border-color: var(--white-color);
  }

  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:active {
    background-color: var(--primary-click-color);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--grey-color);
  }
}

@media (min-width: $smallMobileScreenWidth) {
  button.app-primary-button {
    height: 52px;
  }
}
