@import "../screen-size-mixins";

@mixin scrollbar {
  scrollbar-color: var(--grey-color) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey-color);
    border-radius: 6px;
    transition: 0.25s background-color ease-in-out;

    &:hover {
      background-color: #555;
    }
  }
}

@include for-tablet {
  .app-scrollbar {
    @include scrollbar();
  }
}
