@import "../../../styles/scss-variables";

// TODO: Think about common styles
:host {
  display: block;
}

.help-requests-list-item {
  width: 100%;

  &.app-list-card--hovered,
  &.app-list-card--unfolded {
    .direction,
    .dates {
      color: var(--primary-color);
    }

    .dates {
      opacity: 1;
    }
  }

  &.app-list-card--unfolded {
    .toggle-icon {
      transform: rotate(180deg);
    }
  }
}

.main-part {
  display: flex;
}

.main-part__left {
  flex-grow: 1;
}

.direction-and-full-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.direction {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black-color);
  transition: 0.25s color ease-in-out;
}

.full-name {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-color);
}

.dates {
  font-size: 1rem;
  font-weight: 700;
  color: var(--grey-color);
  opacity: 0.7;
  transition: 0.25s all ease-in-out;
}

.main-part__right {
  flex-shrink: 0;
  margin-left: 10px;
}

.toggle-icon {
  margin-top: 3px;
  transition: 0.25s transform ease-in-out;
}

.comment {
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-color);
  text-align: justify;
  line-height: 16px;
}

.phones {
  display: flex;
  margin-bottom: 8px;
}

.phones__label {
  flex-shrink: 0;
  width: 50%;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-color);
}

.phones__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.phones__list-item {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.public-id {
  display: flex;
}

.public-id__label {
  flex-shrink: 0;
  width: 50%;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-color);
}

.public-id__value {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  color: var(--success-color);
}

@media (min-width: $minLaptopScreenWidth) {
  .main-part {
    align-items: center;
    min-height: 70px;
  }

  .main-part__left {
    display: flex;
  }

  .direction-and-full-name {
    flex-shrink: 0;
    width: 55%;
    margin-bottom: 0;
  }

  .direction {
    font-size: 1.2rem;
  }

  .full-name {
    font-size: 1.1rem;
  }

  .dates {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 45%;
    font-size: 1.1rem;
  }

  .toggle-icon {
    width: 30px;
    height: 13px;
  }

  .comment {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  .phones__label {
    width: auto;
    margin-right: 5px;
    font-size: 1.1rem;
  }

  .phones__list {
    flex-direction: row;
  }

  .phones__list-item {
    font-size: 1rem;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 5px;
    }
  }

  .public-id__label {
    width: auto;
    margin-right: 5px;
    font-size: 1.1rem;
  }

  .public-id__value {
    justify-content: flex-start;
  }
}
