@import "../../../styles/screen-size-mixins";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.create-help-offer-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

@include for-tablet {
  .create-help-offer-dialog {
    align-items: center;
  }
}
