<!-- TODO: !IMPORTANT Error state -->
<div class="create-feedback-dialog">
  <ng-container *ngIf="createFeedbackState$ | async as state">
    <h2
      class="app-custom-dialog-title"
      *ngIf="dialogTitle$ | async as dialogTitle"
    >
      {{ dialogTitle | translate }}
    </h2>

    <div
      class="app-custom-dialog-close-button"
      [title]="'helpTitles.closeDialog' | translate"
      (click)="closeDialog()"
    >
      <app-plus-icon
        class="app-custom-dialog-close-button-icon"
      ></app-plus-icon>
    </div>

    <form
      class="form"
      *ngIf="state.data === null"
      [formGroup]="createFeedbackForm"
      (ngSubmit)="handleCreateFeedbackSubmit($event)"
    >
      <!-- TODO: Make reusable components: control-container, control-errors, etc. -->
      <div class="control-container control-container--full-name">
        <app-input-control
          class="control"
          [label]="'dialogs.createFeedback.fullNameFieldLabel' | translate"
          [placeholder]="'placeholders.fullNameField' | translate"
          [required]="true"
          formControlName="fullName"
        >
        </app-input-control>

        <div class="control-errors">
          <ng-container *ngIf="createFeedbackForm.controls.fullName.touched">
            <span
              class="error-text"
              *ngIf="createFeedbackForm.controls.fullName.errors?.['required']"
            >
              {{ "errors.fullNameIsRequired" | translate }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="control-container control-container--email">
        <app-input-control
          class="control"
          [label]="'dialogs.createFeedback.emailFieldLabel' | translate"
          [placeholder]="'placeholders.emailField' | translate"
          [required]="true"
          [maxCharactersAmount]="50"
          formControlName="email"
          type="email"
          mode="email"
        >
        </app-input-control>

        <div class="control-errors">
          <ng-container *ngIf="createFeedbackForm.controls.email.touched">
            <span
              class="error-text"
              *ngIf="createFeedbackForm.controls.email.errors?.['required']"
            >
              {{ "errors.emailIsRequired" | translate }}
            </span>

            <span
              class="error-text"
              *ngIf="createFeedbackForm.controls.email.errors?.['email']"
            >
              {{ "errors.incorrectEmailFormat" | translate }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="control-container control-container--comment">
        <app-textarea-field-control
          class="control"
          [label]="'dialogs.createFeedback.commentFieldLabel' | translate"
          [placeholder]="'placeholders.commentField' | translate"
          [required]="true"
          [maxCharactersAmount]="299"
          formControlName="comment"
        >
        </app-textarea-field-control>

        <div class="control-errors">
          <ng-container *ngIf="createFeedbackForm.controls.comment.touched">
            <span
              class="error-text"
              *ngIf="createFeedbackForm.controls.comment.errors?.['required']"
            >
              {{ "errors.commentIsRequired" | translate }}
            </span>

            <span
              class="error-text"
              *ngIf="createFeedbackForm.controls.comment.errors?.['minlength']"
            >
              {{ "errors.minCharacters" | translate : { amount: 10 } }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="app-custom-dialog-actions">
        <!-- TODO: Make primary button component -->
        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="!state.inProgress"
          [disabled]="createFeedbackForm.invalid"
          type="submit"
        >
          <span>{{
            "dialogs.createFeedback.sendButtonLabel" | translate
          }}</span>
        </button>

        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="state.inProgress"
          [disabled]="true"
          type="button"
        >
          <app-spinner
            class="app-primary-button__spinner"
            color="white"
          ></app-spinner>
        </button>
      </div>
    </form>

    <app-success-create-feedback-section
      *ngIf="state.data !== null"
      (enterPress)="closeDialog()"
    >
    </app-success-create-feedback-section>
  </ng-container>
</div>
