@import "../../../styles/scss-variables";

:host {
  display: flex;
}

.create-feedback-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.control-container--full-name {
    margin-bottom: 8px;
  }

  &.control-container--email {
    margin-bottom: 16px;
  }
}

.control-errors {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 26px;
  padding: 0 12px;
}

.error-text {
  flex-shrink: 0;
  font-size: 0.9rem;
  color: var(--error-color);
}

@media (min-width: $minLaptopScreenWidth) {
  $contentWidth: 460px;

  .create-feedback-dialog {
    align-items: center;
  }

  .form {
    width: $contentWidth;
  }
}
