<div class="create-feedback-dialog">
  <ng-container *ngIf="createFeedbackState$ | async as state">
    <ng-container *ngIf="state.data === null">
      <h2
        class="app-custom-dialog-title"
        *ngIf="dialogTitle$ | async as dialogTitle"
      >
        {{ dialogTitle | translate }}
      </h2>
    </ng-container>

    <div
      class="app-custom-dialog-close-button"
      [title]="'helpTitles.closeDialog' | translate"
      (click)="closeDialog()"
    >
      <app-plus-icon
        class="app-custom-dialog-close-button-icon"
      ></app-plus-icon>
    </div>

    <form
      class="form"
      *ngIf="state.data === null"
      [formGroup]="_createFeedbackForm"
      (ngSubmit)="handleCreateFeedbackSubmit($event)"
    >
      <!-- TODO: Make reusable components: control-container, control-errors, etc. -->
      <div class="control-container control-container--full-name">
        <app-input-control
          class="control"
          [label]="'controlLabel.fullName' | translate"
          [placeholder]="'placeholders.fullNameField' | translate"
          [required]="true"
          formControlName="fullName"
        >
        </app-input-control>

        <div class="control-errors">
          <ng-container *ngIf="_createFeedbackForm.controls.fullName.touched">
            <span
              class="error-text"
              *ngIf="_createFeedbackForm.controls.fullName.errors?.['required']"
            >
              {{ "error.fullNameIsRequired" | translate }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="control-container control-container--email">
        <app-input-control
          class="control"
          [label]="'controlLabel.email' | translate"
          [placeholder]="'placeholders.emailField' | translate"
          [required]="true"
          [maxCharactersAmount]="50"
          formControlName="email"
          type="email"
          mode="email"
        >
        </app-input-control>

        <div class="control-errors">
          <ng-container *ngIf="_createFeedbackForm.controls.email.touched">
            <span
              class="error-text"
              *ngIf="_createFeedbackForm.controls.email.errors?.['required']"
            >
              {{ "error.emailIsRequired" | translate }}
            </span>

            <span
              class="error-text"
              *ngIf="_createFeedbackForm.controls.email.errors?.['emailFormat']"
            >
              {{ "error.incorrectEmailFormat" | translate }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="control-container">
        <app-textarea-field-control
          class="control"
          [label]="'dialogs.createFeedback.commentFieldLabel' | translate"
          [placeholder]="'placeholders.commentField' | translate"
          [required]="true"
          [maxCharactersAmount]="299"
          formControlName="comment"
        >
        </app-textarea-field-control>

        <div class="control-errors">
          <ng-container *ngIf="_createFeedbackForm.controls.comment.touched">
            <span
              class="error-text"
              *ngIf="_createFeedbackForm.controls.comment.errors?.['required']"
            >
              {{ "error.commentIsRequired" | translate }}
            </span>

            <span
              class="error-text"
              *ngIf="_createFeedbackForm.controls.comment.errors?.['minlength']"
            >
              {{ "error.minCharacters" | translate : { amount: 10 } }}
            </span>
          </ng-container>
        </div>
      </div>

      <div class="control-container">
        <app-recaptcha-control
          formControlName="recaptcha"
        ></app-recaptcha-control>
      </div>

      <div class="app-custom-dialog-actions">
        <!-- TODO: Use primary button component -->
        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="!state.inProgress"
          [disabled]="_createFeedbackForm.invalid"
          type="submit"
        >
          <span>{{ "button.send" | translate }}</span>
        </button>

        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="state.inProgress"
          [disabled]="true"
          type="button"
        >
          <app-spinner
            class="app-primary-button__spinner"
            color="white"
          ></app-spinner>
        </button>
      </div>
    </form>

    <app-success-create-feedback-section
      *ngIf="state.data !== null"
      (ok)="closeDialog()"
    >
    </app-success-create-feedback-section>
  </ng-container>
</div>
