@import "../../../styles/screen-size-mixins";

:host {
  display: block;
}

.list-card-comment {
  display: block;
}

.label {
  display: inline;
  margin-right: 5px;
  font-size: 0.9rem;
  color: var(--grey-color);
}

.text {
  display: inline;
  font-size: 0.9rem;
  color: var(--grey-color);
}

.empty {
  font-style: italic;
  font-weight: 400;
  opacity: 0.7;
}

@include for-tablet {
  .label {
    font-size: 1.1rem;
  }

  .text {
    font-size: 1rem;
    line-height: 20px;
  }
}
