@import "../../../styles/screen-size-mixins";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.create-help-request-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@include for-tablet {
  .create-help-request-dialog {
    align-items: center;
  }
}
