<div class="create-help-request-dialog app-scrollbar">
  <ng-container *ngIf="createHelpRequestState$ | async as state">
    <h2
      class="title app-custom-dialog-title"
      *ngIf="dialogTitle$ | async as dialogTitle"
    >
      {{ dialogTitle | translate }}
    </h2>

    <div
      class="app-custom-dialog-close-button"
      [title]="'helpTitles.closeDialog' | translate"
      (click)="closeDialog()"
    >
      <app-plus-icon
        class="app-custom-dialog-close-button-icon"
      ></app-plus-icon>
    </div>

    <form
      class="form"
      *ngIf="state.data === null"
      [formGroup]="createHelpRequestForm"
      (ngSubmit)="handleCreateHelpRequestSubmit($event)"
    >
      <app-locations-control
        class="locations-control"
        formControlName="locations"
      >
      </app-locations-control>

      <app-date-control
        class="date-control"
        [label]="'dialogs.createHelpRequest.whenFieldLabel' | translate"
        [required]="true"
        formControlName="date"
      >
      </app-date-control>

      <ng-container
        *ngIf="createHelpRequestForm.controls.comment as commentControl"
      >
        <app-textarea-field-control
          class="comment-control"
          [label]="'dialogs.createHelpRequest.commentFieldLabel' | translate"
          [placeholder]="'placeholders.commentField' | translate"
          [warningColored]="
            commentControl.value === '' && commentControl.touched
          "
          formControlName="comment"
        >
        </app-textarea-field-control>

        <div class="warnings">
          <div
            class="warning-text"
            *ngIf="commentControl.value === '' && commentControl.touched"
          >
            <span>{{ "warnings.itIsBetterToLeaveAComment" | translate }}</span>
          </div>
        </div>
      </ng-container>

      <div class="controls-and-image">
        <div class="image">
          <app-man-with-mail-image></app-man-with-mail-image>
        </div>

        <div class="full-name-and-phone-numbers">
          <div class="control-container">
            <app-input-control
              class="full-name-control"
              [label]="
                'dialogs.createHelpRequest.fullNameFieldLabel' | translate
              "
              [placeholder]="'placeholders.fullNameField' | translate"
              [required]="true"
              formControlName="fullName"
            >
            </app-input-control>

            <div
              class="control-errors"
              *ngIf="createHelpRequestForm.controls.fullName as fullNameControl"
            >
              <ng-container *ngIf="fullNameControl.touched">
                <div
                  class="error-text"
                  *ngIf="fullNameControl.errors?.['required']"
                >
                  <span>{{ "errors.fullNameIsRequired" | translate }}</span>
                </div>
              </ng-container>
            </div>
          </div>

          <app-dynamic-phone-list-control
            class="phones-control"
            [required]="true"
            formControlName="phones"
          >
          </app-dynamic-phone-list-control>
        </div>
      </div>

      <div class="app-custom-dialog-actions">
        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="!state.inProgress"
          [disabled]="createHelpRequestForm.invalid"
          type="submit"
        >
          <span>{{
            "dialogs.createHelpRequest.sendButtonLabel" | translate
          }}</span>
        </button>

        <button
          class="app-custom-dialog-actions__item app-primary-button"
          *ngIf="state.inProgress"
          [disabled]="true"
          type="button"
        >
          <app-spinner
            class="app-primary-button__spinner"
            color="white"
          ></app-spinner>
        </button>
      </div>
    </form>

    <app-success-create-help-request-section
      *ngIf="state.data !== null"
    ></app-success-create-help-request-section>
  </ng-container>
</div>
