<div
  class="input-control custom-control"
  [class.input-control--required]="controlRequired"
>
  <div class="top-panel">
    <label class="label" *ngIf="controlLabel" [for]="controlId">
      <span>{{ controlLabel }}</span>
    </label>

    <div class="characters-counter">
      <div
        class="characters-counter"
        [class.characters-counter--primary-colored]="controlFocused"
        *ngIf="controlMaxCharacters"
      >
        <span>{{ inputRef.value.length }}</span>
        <span>/</span>
        <span>{{ controlMaxCharacters }}</span>
      </div>
    </div>
  </div>

  <input
    #inputRef
    class="custom-control__field"
    type="text"
    [id]="controlId"
    [disabled]="controlDisabled"
    [value]="controlValue"
    [maxLength]="controlMaxCharacters"
    (input)="handleInputValueChange(inputRef.value)"
    (focus)="handleInputFocus()"
    (blur)="handleInputBlur()"
  />
</div>
