<div
  class="input-control custom-control"
  [class.custom-control--with-trailing-icon]="trailingIcon.children.length !== 0"
>
  <label class="custom-control__label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <input
    #inputRef
    class="custom-control__field"
    type="text"
    [id]="controlId"
    [disabled]="controlDisabled"
    [value]="controlValue"
    (input)="handleControlValueChange(inputRef.value)"
    (blur)="handleControlBlur()"
  />

  <div #trailingIcon class="custom-control__trailing-icon">
    <ng-content select="[trailingIcon]"></ng-content>
  </div>
</div>
