@import '../../../styles/scss-variables';

$padding: 12px;

:host {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.input-control {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 220px;

  &.input-control--with-trailing-icon {
    .control {
      padding-right: 46px;
    }
  }
}

.label {
  flex-shrink: 0;
  margin-bottom: 3px;
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.control {
  flex-shrink: 0;
  height: 40px;
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-color);
  transition: .25s border-color ease-in-out;

  &:focus {
    border-color: var(--primary-color);
  }
}

.trailing-icon {
  pointer-events: none;
  position: absolute;
  right: $padding;
  bottom: 14px; // TODO
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;

  &:empty {
    display: none;
  }
}

@media (min-width: $smallMobileScreenWidth) {
  .input-control {
    min-width: 240px;
  }

  .control {
    height: 48px;
  }
}

@media (min-width: 360px) {
  .input-control {
    min-width: 260px;
  }
}
