:host {
  display: flex;
  flex-shrink: 0;

  &.ng-invalid.ng-touched {
    .characters-counter {
      color: var(--error-color);
    }

    .custom-control__field {
      border-color: var(--error-color);
    }
  }
}
