<div
  #rootElementRef
  #overlayOrigin="cdkOverlayOrigin"
  class="autocomplete-control custom-control"
  cdkOverlayOrigin
  [class.custom-control--required]="controlRequired"
>
  <label class="custom-control__label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <input
    #inputRef
    class="custom-control__field app-custom-placeholder"
    [id]="controlId"
    [value]="inputValue$ | async"
    [placeholder]="controlPlaceholder"
    type="text"
    (input)="handleInputValueChange(inputRef.value)"
    (click)="handleInputClick()"
    (focus)="handleInputFocus()"
    (blur)="handleInputBlur($event)"
  />

  <div
    class="clear-button"
    *ngIf="isClearButtonShown; else locationIconSvg"
    matRipple
    (click)="handleClearButtonClick()"
  >
    <ng-container *ngTemplateOutlet="crossIconSvg"></ng-container>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="autocomplete-control-pane"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayWidth]="rootElementRef.scrollWidth"
  [cdkConnectedOverlayOpen]="isPanelOpen"
>
  <ng-container *ngIf="filteredOptions$ | async as filteredOptions">
    <ng-container *ngIf="filteredOptions.length > 0; else noMatchesView">
      <ng-container *ngFor="let option of filteredOptions">
        <div
          class="autocomplete-control-pane__option"
          [class.autocomplete-control-pane__option--selected]="
            option.value === controlValue
          "
          matRipple
          (click)="handleOptionSelect(option)"
        >
          <div
            class="autocomplete-control-pane__option-text"
            *ngIf="option.label | destructureLocationLabel as location"
          >
            <div class="autocomplete-control-pane__option-city">
              <span>{{ location.cityName }}</span>
            </div>

            <div class="autocomplete-control-pane__option-country">
              <span>{{ location.countryName }}</span>
            </div>
          </div>

          <div class="autocomplete-control-pane__option-icon">
            <ng-container *ngTemplateOutlet="arrowRightIconSvg"></ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #noMatchesView>
  <div class="autocomplete-control-pane__option">
    <div class="autocomplete-control-pane__option-no-matches">
      <span>{{
        "components.autocompleteControl.noMatchesMessage" | translate
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #crossIconSvg>
  <svg
    class="cross-icon"
    width="13"
    height="13.5"
    viewBox="0 0 18 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.7782 17.3345L1.22183 1.77817M1.22183 17.3345L16.7782 1.77818"
      stroke="#4E91F7"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>
</ng-template>

<ng-template #locationIconSvg>
  <svg
    class="location-icon"
    [class.location-icon--primary-colored]="controlFocused"
    width="11"
    height="15.7"
    viewBox="0 0 14 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z"
      fill="#B1B1B1"
    />
  </svg>
</ng-template>

<ng-template #arrowRightIconSvg>
  <svg
    width="6"
    height="11"
    viewBox="0 0 6 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1 10.5L5 5.37179L1 0.5" stroke="#000000" stroke-linecap="round" />
  </svg>
</ng-template>
