@import "../../../styles/scss-variables";

:host {
  display: block;

  &.ng-invalid.ng-touched {
    .custom-control__field {
      border-color: var(--error-color);
    }

    .location-icon path {
      fill: var(--error-color);
    }

    .cross-icon path {
      stroke: var(--error-color);
    }
  }
}

.clear-button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  .cross-icon path {
    transition: 0.25s stroke ease-in-out;
  }
}

.location-icon {
  pointer-events: none;
  position: absolute;
  right: 15px;
  bottom: 12px;
  display: block;

  & path {
    transition: 0.25s fill ease-in-out;
  }

  &.location-icon--primary-colored path {
    fill: var(--primary-color);
  }

  &.location-icon--warning-colored:not(.location-icon--primary-colored) path {
    fill: var(--warning-color);
  }
}

.autocomplete-control-pane__option {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  height: 48px;
  padding: 0 16px;
  background-color: transparent;
  user-select: none;
  transition: 0.25s background-color ease-in-out;

  &.autocomplete-control-pane__option--selected {
    background-color: rgba(0, 0, 0, 0.04); // TODO: Move to a variable?

    .autocomplete-control-pane__option-city,
    .autocomplete-control-pane__option-country {
      color: var(--primary-color);
    }

    .autocomplete-control-pane__option-icon svg path {
      stroke: var(--primary-color);
    }
  }

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.autocomplete-control-pane__option-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  transition: 0.25s color ease-in-out;
}

.autocomplete-control-pane__option-city {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-color);
  transition: 0.25s color ease-in-out;
}

.autocomplete-control-pane__option-country {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50%;
  font-size: 0.85rem;
  color: var(--black-color);
  transition: 0.25s color ease-in-out;
}

.autocomplete-control-pane__option-icon {
  pointer-events: none;
  flex-shrink: 0;
  margin-top: 6.5px;
  margin-left: 10px;

  svg path {
    transition: 0.25s stroke ease-in-out;
  }
}

.autocomplete-control-pane__option-no-matches {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  color: var(--grey-color);
  font-weight: 500;
}

@media (min-width: $smallMobileScreenWidth) {
  .location-icon {
    right: 17px;
    bottom: 14px;
    width: 14px;
    height: 20px;
  }

  .clear-button {
    right: 6px;
    bottom: 6px;
    width: 36px;
    height: 36px;

    .cross-icon {
      width: 15px;
      height: 15.5px;
    }
  }
}
