<button
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  type="button"
  (click)="togglePanel()"
>
  <ng-container
    *ngIf="_value().isNullish || _value().value === ''; else valueBlock"
  >
    <span>{{ _placeholder() }}</span>
  </ng-container>

  <ng-template #valueBlock>
    <span>{{ _value().value }}</span>
  </ng-template>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="_isPanelOpened()"
>
  <ul cdkListbox (cdkListboxValueChange)="handleListboxValueChange($event)">
    <li *ngFor="let code of _diallingCodes" [cdkOption]="code">
      <span>{{ code.value }}</span>
    </li>
  </ul>
</ng-template>
