:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.index-page-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header {
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.footer {
  flex-shrink: 0;
}
