<div class="success-create-help-item-section">
  <p class="thank-you-text text-block">
    {{ "components.successCreateHelpItemSection.thankYouText" | translate }}
  </p>

  <p class="description-text text-block">
    {{ "components.successCreateHelpItemSection.descriptionText" | translate }}
  </p>

  <div class="public-id">
    <div class="public-id__label">
      {{ "components.successCreateHelpItemSection.publicIdLabel" | translate }}
    </div>
    <a
      class="public-id__value"
      (click)="handlePublicIdValueClick(_helpItemPublicId)"
      >{{ _helpItemPublicId }}</a
    >
  </div>

  <app-girl-in-card-mobile-image class="girl-in-card-image"></app-girl-in-card-mobile-image>

  <button
    type="button"
    class="app-primary-button"
    (click)="handleThankYouButtonClick()"
  >
    {{
      "components.successCreateHelpItemSection.thankYouButtonLabel" | translate
    }}
  </button>
</div>
