<mat-card class="help-offer-card">
  <mat-card-header class="header">
    <mat-card-title class="header__title">
      <span>{{ _preview?.authorFullName }}</span>
    </mat-card-title>

    <mat-card-subtitle class="header__subtitle">
      <mat-icon class="icon header__subtitle-icon">keyboard_double_arrow_right</mat-icon>

      <div class="header__subtitle-content">
        <span class="label">
          Напрамак:
        </span>

        <ng-container *ngIf="_preview?.countryFrom === 'Беларусь'; else polishFlag">
          <ng-container *ngTemplateOutlet="belarusianFlag"></ng-container>
        </ng-container>

        <mat-icon class="icon arrow">trending_flat</mat-icon>

        <ng-container *ngIf="_preview?.countryTo === 'Беларусь'; else polishFlag">
          <ng-container *ngTemplateOutlet="belarusianFlag"></ng-container>
        </ng-container>
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <p class="content__date">
      <mat-icon class="content__date-icon">event</mat-icon>
      <span class="content__date-label">Калі:</span>

      <ng-container *ngIf="_preview?.date?.type === 'specific'">
        <div>specific</div>
        <!-- <span>{{ _preview?.date['specificDateAsString'] | date:'dd/MM/YYYY' }}</span> -->
      </ng-container>

      <ng-container *ngIf="_preview?.date?.type === 'range'">
        <span>from</span>
        <!-- <span>{{ _preview?.dateFrom | date:'dd/MM/YYYY' }}</span> -->
        <span>-</span>
        <!-- <span>{{ _preview?.dateTo | date:'dd/MM/YYYY' }}</span> -->
        <span>to</span>
      </ng-container>
    </p>
  </mat-card-content>

  <mat-card-actions class="actions" align="end">
    <button class="actions__item" mat-flat-button color="primary">
      <span>Паглядзець</span>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #belarusianFlag>
  <span>
    <img class="flag flag_belarus" src="assets/images/flag_of_belarus.png" title="Беларусь">
  </span>
</ng-template>

<ng-template #polishFlag>
  <span>
    <img class="flag flag_poland" src="assets/images/flag_of_poland.jpg" title="Польшча">
  </span>
</ng-template>
