:host {
  display: block;
}

.primary-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: 0.15s all ease-in-out;

  .primary-button__spinner {
    width: 30px;
    height: 30px;
  }

  &.primary-button--danger {
    background-color: var(--error-color);

    &:focus,
    &:hover,
    &:active {
      opacity: 0.85;
    }
  }

  &:focus:not(.primary-button--danger) {
    border-color: var(--primary-click-color);
  }

  &:hover:not(.primary-button--danger) {
    background-color: var(--primary-hover-color);
  }

  &:active:not(.primary-button--danger) {
    background-color: var(--primary-click-color);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--grey-color);
  }
}
