<div class="feedback-dialog">
  <h2 class="title">Обратная связь</h2>

  <div class="close-button" (click)="closeDialog()">
    <app-plus-icon class="close-button__icon"></app-plus-icon>
  </div>

  <form>
    <app-input-control
      class="full-name-control"
      label="ФИО"
    >
    </app-input-control>

    <app-input-control
      class="email-control"
      label="Email"
    >
    </app-input-control>

    <app-textarea-field-control
      class="comment-control"
      label="Як палепшыць наш сэрвіс?"
    >
    </app-textarea-field-control>

    <button class="send-button app-primary-button">Отправить</button>
  </form>
</div>
