:host {
  display: flex;
}

.feedback-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.close-button__icon {
  transform: rotate(45deg) scale(1.1);
}

.full-name-control {
  margin-bottom: 8px;
}

.email-control {
  margin-bottom: 30px;
}

.comment-control {
  margin-bottom: 40px;
}

.send-button {
  width: 100%;
}
