:host {
  display: flex;
}

.feedback-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name-control {
  margin-bottom: 8px;
}

.email-control {
  margin-bottom: 30px;
}
