<div class="failed-confirm-user-view">
  <div class="content">
    <h2 class="title">
      {{ "components.failedConfirmUserView.title" | translate }}
    </h2>

    <p class="text">
      {{ "components.failedConfirmUserView.text" | translate }}
    </p>

    <svg-icon
      class="man-with-phone-mobile-image"
      src="/assets/svg/images/man-with-phone-image.svg"
    ></svg-icon>

    <app-primary-button class="main-page-button" routerLink="/">
      <span>{{ "button.mainPage" | translate }}</span>
    </app-primary-button>
  </div>

  <svg-icon
    class="man-with-phone-desktop-image"
    [svgStyle]="{ 'width.px': 230, 'height.px': 208 }"
    src="/assets/svg/images/man-with-phone-image.svg"
  ></svg-icon>
</div>
