@import "../../../styles/scss-variables";

:host {
  display: block;
}

.failed-confirm-user-view {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex-shrink: 0;
  margin-bottom: 20px;
  color: var(--error-color);
}

.text {
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: var(--grey-color);
}

.man-with-phone-mobile-image {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.main-page-button {
  flex-shrink: 0;
  width: 100%;
  max-width: 280px;
}

.man-with-phone-desktop-image {
  display: none;
}

@media (min-width: $minLaptopScreenWidth) {
  .failed-confirm-user-view {
    align-items: center;
  }

  .content {
    max-width: 370px;
  }

  .text {
    font-size: 1.2rem;
  }

  .man-with-phone-mobile-image {
    display: none;
  }

  .man-with-phone-desktop-image {
    display: block;
    width: 230px;
    height: 208px;
    margin-left: 30px;
  }
}
