<div class="failed-confirm-user-view">
  <div class="content">
    <h2 class="title">
      {{ "components.failedConfirmUserView.title" | translate }}
    </h2>

    <p class="text">
      {{ "components.failedConfirmUserView.text" | translate }}
    </p>

    <app-man-with-phone-mobile-image
      class="man-with-phone-mobile-image"
    ></app-man-with-phone-mobile-image>

    <app-primary-button class="main-page-button" routerLink="/">
      <span>{{ "button.mainPage" | translate }}</span>
    </app-primary-button>
  </div>

  <app-man-with-phone-mobile-image
    class="man-with-phone-desktop-image"
  ></app-man-with-phone-mobile-image>
</div>
