<mat-card class="admin-login-card">
  <ng-container *ngIf="_loginState$ | async as state">
    <mat-card-header class="header">
      <mat-card-title>
        <span *ngIf="!state.inProgress">Pushka Admin</span>
        <span *ngIf="state.inProgress">Loading...</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form
        class="form"
        [formGroup]="_loginForm"
        (ngSubmit)="handleAdminLoginSubmit()"
      >
        <mat-form-field class="form__field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            #firstInputRef
            matInput
            type="email"
            placeholder="Enter email"
            formControlName="email"
          />
          <mat-error *ngIf="_loginForm.controls.email.errors?.['required']">
            <span>Email is required</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__field" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter password"
            formControlName="password"
          />
          <mat-error *ngIf="_loginForm.controls.password.errors?.['required']">
            <span>Password is required</span>
          </mat-error>
        </mat-form-field>

        <mat-error class="errors-block" *ngIf="state.error !== null">
          <span>Server error. For more details check the console.</span>
        </mat-error>

        <mat-error class="errors-block" *ngIf="_notAdminError">
          <span>You have to be an Admin.</span>
        </mat-error>

        <button
          [disabled]="_loginForm.invalid || state.inProgress"
          mat-raised-button
          color="primary"
          type="submit"
        >
          <span>Submit</span>
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer class="footer">
      <mat-progress-bar
        [mode]="state.inProgress ? 'indeterminate' : 'determinate'"
      ></mat-progress-bar>
    </mat-card-footer>
  </ng-container>
</mat-card>
