:host {
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.errors-block {
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
}
