:host {
  display: flex;
}

.admin-work-page-toolbar {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  padding: 0 var(--horizontal-bordering-padding);
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 120px;
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  &.disabled {
    pointer-events: none;
    color: lightgray;
  }
}
