@import "../../../styles/scss-variables";

$xsLogoWidth: 100px;
$xsLogoHeight: 30px;

:host {
  display: flex;
  width: 100%;
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: $xsLogoWidth;
  height: $xsLogoHeight;
}

.logo__image {
  width: inherit;
  height: inherit;
}

.tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 35px;
}

.tools__item {
  &:first-child {
    margin-right: 10px;
  }
}

@media (min-width: $smallMobileScreenWidth) {
  $sLogoWidth: 127px;
  $sLogoHeight: 38px;

  .toolbar {
    height: 40px;
  }

  .logo {
    width: $sLogoWidth;
    height: $sLogoHeight;
  }

  .tools {
    height: 40px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
