@import '../../../styles/scss-variables';

$xsLogoWidth: 46.9px;
$xsLogoHeight: 35px;

:host {
  display: flex;
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: $xsLogoHeight;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: $xsLogoWidth;
  height: $xsLogoHeight;
}

.logo__image {
  width: inherit;
  height: inherit;
}

.tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: $xsLogoHeight;
}

.tools__item {
  &:first-child {
    margin-right: 10px;
  }
}

@media (min-width: $smallMobileScreenWidth) {
  $sLogoWidth: 59px;
  $sLogoHeight: 44px;

  .toolbar {
    height: $sLogoHeight;
  }

  .logo {
    width: $sLogoWidth;
    height: $sLogoHeight;
  }

  .tools {
    height: $sLogoHeight;
  }
}
