:host {
  display: block;
}

.checkbox-with-text-control {
  display: flex;

  &.checkbox-with-text-control--disabled {
    // empty for now
  }

  &.checkbox-with-text-control--required {
    .text::before {
      content: "*";
      margin-right: 1px;
      color: var(--error-color);
    }
  }
}

.checkbox {
  flex-shrink: 0;
  margin-right: 8px;
}

.text {
  cursor: pointer;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  color: var(--grey-color);
  font-weight: 600;
  text-align: justify;
}
