@import '../../../styles/scss-variables';

:host {
  display: block;
}

// TODO: Move grid styles to a shared place
.admin-help-offers-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  flex-shrink: 0;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  .grid-cell {
    width: 50%;
    padding: 0;

    &:nth-child(2n + 1) {
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: $minDesktopScreenWidth) {
  .grid-cell {
    width: 33.33%;
    padding: 0;

    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}
