<div class="admin-help-offers-grid">
  <div
    class="grid-content"
    *ngIf="_fullPreviewsOfAllHelpOffers.length !== 0; else emptyListView"
  >
    <div class="grid-cell" *ngFor="let preview of _fullPreviewsOfAllHelpOffers">
      <app-admin-help-offer-card
        class="grid-cell__card"
        [helpOfferFullPreview]="preview"
      >
      </app-admin-help-offer-card>
    </div>
  </div>

  <ng-template #emptyListView>
    <div class="empty-list-view">
      <span>{{ "pages.adminHelpOffers.helpOffersGrid.emptyList" | translate }}</span>
    </div>
  </ng-template>
</div>
