<div class="actions">
  <div class="container">
    <ng-container *ngIf="_activePage$ | async as activePage">
      <button
        class="item"
        matRipple
        [class.item--inactive]="activePage !== _Page.HELP_REQUESTS"
        type="button"
        (click)="handleFindHelpButtonClick()"
      >
        <app-plus-icon
          class="item__icon"
          [color]="activePage === _Page.HELP_REQUESTS ? 'black' : 'grey'"
        >
        </app-plus-icon>

        <span class="item__text">{{
          "pages.index.actions.findHelpButtonLabel" | translate
        }}</span>
      </button>

      <button
        class="item"
        matRipple
        [class.item--inactive]="activePage !== _Page.HELP_OFFERS"
        type="button"
        (click)="handleOfferHelpButtonClick()"
      >
        <app-plus-icon
          class="item__icon"
          [color]="activePage === _Page.HELP_OFFERS ? 'black' : 'grey'"
        >
        </app-plus-icon>

        <span class="item__text">{{
          "pages.index.actions.offerHelpButtonLabel" | translate
        }}</span>
      </button>
    </ng-container>

    <svg-icon
      class="man-with-globe-mobile-image"
      src="/assets/svg/images/man-with-globe-image.svg"
    ></svg-icon>

    <svg-icon
      class="man-with-globe-desktop-image"
      [svgStyle]="{ 'width.px': 252, 'height.px': 410 }"
      src="/assets/svg/images/man-with-globe-image.svg"
    ></svg-icon>
  </div>
</div>
