@import "../../../styles/scss-variables";

:host {
  display: flex;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 var(--horizontal-bordering-padding) 0
    var(--horizontal-bordering-padding);
  padding-top: 75px;
  padding-bottom: var(--key-blocks-indent-size);
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 9px;
  transition: 0.25s all ease-in-out;

  &.item--inactive {
    pointer-events: none;
    color: var(--grey-color);
    border-color: transparent;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  &:active {
    border-color: var(--primary-click-color);
  }
}

.item__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.item__text {
  font-size: 1rem;
}

.man-with-globe-mobile-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 101px;
  height: 166px;
}

.man-with-globe-desktop-image {
  display: none;
}

@media (min-width: $minLaptopScreenWidth) {
  .actions {
    padding: 0;
  }

  .container {
    max-width: var(--max-content-width);
    padding-top: 100px;
  }

  .item {
    max-width: 392px;
  }

  .item__text {
    font-size: 1.2rem;
  }

  .man-with-globe-mobile-image {
    display: none;
  }

  .man-with-globe-desktop-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 252px;
    height: 410px;
    transform: scale(-1, 1);
  }
}
