<div class="actions">
  <div class="container">
    <ng-container *ngIf="_activePage$ | async as activePage">
      <button
        class="item"
        matRipple
        [class.item--inactive]="activePage !== _Page.HELP_OFFERS"
        (click)="handleOfferHelpButtonClick()"
      >
        <app-plus-icon
          class="item__icon"
          [color]="activePage === _Page.HELP_OFFERS ? 'black' : 'grey'"
        >
        </app-plus-icon>

        <span class="item__text">{{
          "pages.index.actions.offerHelpButtonLabel" | translate
        }}</span>
      </button>

      <button
        class="item"
        matRipple
        [class.item--inactive]="activePage !== _Page.HELP_REQUESTS"
        (click)="handleFindHelpButtonClick()"
      >
        <app-plus-icon
          class="item__icon"
          [color]="activePage === _Page.HELP_REQUESTS ? 'black' : 'grey'"
        >
        </app-plus-icon>

        <span class="item__text">{{
          "pages.index.actions.findHelpButtonLabel" | translate
        }}</span>
      </button>
    </ng-container>

    <app-man-with-globe-mobile-image
      class="man-with-globe-mobile-image"
    ></app-man-with-globe-mobile-image>

    <app-man-with-globe-desktop-image
      class="man-with-globe-desktop-image"
    ></app-man-with-globe-desktop-image>
  </div>
</div>
