<div class="actions">
  <ng-container *ngIf="activeView$ | async as activeView">
    <ng-container *ngFor="let action of actions">
      <button
        class="item"
        [class.item--inactive]="activeView !== action.relatedToView"
      >
        <app-plus-icon
          class="item__icon"
          [color]="activeView !== action.relatedToView ? 'grey' : 'black'"
        >
        </app-plus-icon>

        <span class="item__text">{{ action.label }}</span>
      </button>
    </ng-container>
  </ng-container>
</div>
