<div class="applications-list">
  <ng-container *ngIf="_templateContext$ | async as context">
    <ng-container *ngIf="context.getPublishedApplications.inProgress">
      <div class="loading-view">
        <app-spinner></app-spinner>
      </div>
    </ng-container>

    <ng-container
      *ngIf="context.getPublishedApplications.data as applicationList"
    >
      <ng-container *ngIf="applicationList.length !== 0; else emptyListView">
        <div class="content-view app-scrollbar">
          <app-applications-list-item-container
            class="list-item"
            *ngFor="
              let application of applicationList;
              trackBy: trackApplicationById
            "
            (delete)="handleApplicationDelete($event)"
          >
            <app-applications-list-item
              [publishedApplication]="application"
              [showActions]="application.userId === context.user?.id"
            >
            </app-applications-list-item>
          </app-applications-list-item-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="context.getPublishedApplications.error as error">
      <app-applications-list-load-error-view
        class="error-view"
        (reloadClick)="handleReloadClick()"
      ></app-applications-list-load-error-view>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyListView>
  <div class="empty-list-view">
    <span>{{ "placeholders.emptyList" | translate }}</span>
  </div>
</ng-template>
