@import '../../../styles/scss-variables';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.admin-work-page-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.header {
  flex-shrink: 0;
  margin: var(--bordering-padding) 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

@media (min-width: $minDesktopScreenWidth) {
  .admin-work-page-layout {
    flex-direction: column-reverse;
  }
}
