<div class="admin-work-page-layout">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" [opened]="true">
      <mat-list>
        <a
          class="link"
          *ngFor="let link of navLinks"
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="active"
          [disabled]="link.disabled"
        >
          <span class="link__text">{{ link.label }}</span>
        </a>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
