<div class="admin-work-page-layout">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" [opened]="true">
      <mat-toolbar class="toolbar" color="primary">
        <div class="toolbar-left">
          <mat-icon class="logo-icon">admin_panel_settings</mat-icon>
        </div>

        <div class="toolbar-right">
          <div class="toolbar-title">
            <span>Pushka</span>
          </div>

          <div class="toolbar-subtitle">
            <span>Admin</span>
          </div>
        </div>
      </mat-toolbar>

      <mat-list>
        <a
          class="link"
          *ngFor="let link of _navLinks"
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          <span class="link__text">{{ link.label }}</span>
        </a>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <button
    class="logout-button"
    *ngIf="_menuIsOpened"
    mat-fab
    color="primary"
    matTooltip="Logout"
    (click)="handleLogoutButtonClick()"
  >
    <mat-icon>logout</mat-icon>
  </button>

  <button
    class="home-button"
    *ngIf="_menuIsOpened"
    mat-fab
    color="primary"
    matTooltip="Home"
    (click)="handleHomeButtonClick()"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-fab
    class="menu-button"
    [color]="_menuIsOpened ? 'white' : 'primary'"
    [matTooltip]="_menuIsOpened ? 'Close menu' : 'Open menu'"
    (click)="handleMenuButtonClick()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
