// TODO: Think about common styles
$padding: 12px;

:host {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.autocomplete-text-field-control {
  &.autocomplete-text-field-control--trailing-icon {
    .control {
      padding-right: 46px;
    }
  }
}

.label {
  flex-shrink: 0;
  margin-bottom: 3px;
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.control {
  flex-shrink: 0;
  height: var(--field-height);
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-color);
  transition: .25s border-color ease-in-out;

  &:focus {
    border-color: var(--primary-color);
  }
}

.trailing-icon {
  pointer-events: none;
  position: absolute;
  right: $padding;
  bottom: 14px; // TODO
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;

  &:empty {
    display: none;
  }
}

.option-content {
  display: flex;
  align-items: flex-start;
}

.option-content__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.option-content__city {
  flex-shrink: 0;
  font-size: 1.1rem;
}

.option-content__country {
  flex-shrink: 0;
  font-size: 0.85rem;
}

.option-content__icon {
  flex-shrink: 0;
  margin-left: 10px;
}
