@import "../../../styles/scss-variables";

// TODO: Think about common styles
$padding: 12px;

:host {
  display: flex;
  flex-shrink: 0;
  width: 100%;

  &.ng-invalid.ng-touched {
    .control {
      border-color: var(--error-color);
    }

    .location-icon path {
      fill: var(--error-color);
    }
  }
}

.label {
  flex-shrink: 0;
  margin-bottom: 3px;
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.control {
  flex-shrink: 0;
  height: var(--field-height);
  padding: 0 38px 0 12px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-color);
  transition: 0.25s border-color ease-in-out;

  &:focus {
    border-color: var(--primary-color);
  }
}

.location-icon {
  pointer-events: none;
  position: absolute;
  right: 15px;
  bottom: 12px;
  display: block;

  & path {
    transition: 0.25s fill ease-in-out;
  }

  &.location-icon--primary-colored path {
    fill: var(--primary-color);
  }
}

.option-content {
  display: flex;
  align-items: flex-start;
}

.option-content__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.option-content__city {
  flex-shrink: 0;
  font-size: 1.1rem;
}

.option-content__country {
  flex-shrink: 0;
  font-size: 0.85rem;
}

.option-content__icon {
  flex-shrink: 0;
  margin-left: 10px;
}

@media (min-width: $smallMobileScreenWidth) {
  .control {
    padding-right: 48px;
  }

  .location-icon {
    right: 17px;
    bottom: 14px;
    width: 14px;
    height: 20px;
  }
}
