<div
  class="autocomplete-text-field-control"
  [class.autocomplete-text-field-control--trailing-icon]="
    trailingIcon.children.length !== 0
  "
>
  <label class="label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <!-- TODO: Initial value? -->
  <input
    #inputRef
    class="control"
    [id]="controlId"
    [disabled]="controlDisabled"
    [matAutocomplete]="matAutocompleteRef"
    (input)="handleControlValueChange(inputRef.value)"
    (blur)="handleControlBlur()"
  />

  <div #trailingIcon class="trailing-icon">
    <ng-content select="[trailingIcon]"></ng-content>
  </div>

  <mat-autocomplete
    #matAutocompleteRef="matAutocomplete"
    (optionSelected)="handleOptionSelection($event)"
  >
    <mat-option
      *ngFor="let option of filteredOptions$ | async"
      [value]="option.label"
    >
      <span>{{ option.label }}</span>
    </mat-option>
  </mat-autocomplete>
</div>
