<div
  class="autocomplete-text-field-control custom-control"
  [class.autocomplete-text-field-control--trailing-icon]="
    trailingIcon.children.length !== 0
  "
>
  <label class="label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <!-- TODO: Initial value? -->
  <!-- Disabled? -->
  <input
    #inputRef
    class="control"
    [id]="controlId"
    [matAutocomplete]="matAutocompleteRef"
    [formControl]="inputControl"
    (blur)="handleControlBlur()"
  />

  <div #trailingIcon class="trailing-icon">
    <ng-content select="[trailingIcon]"></ng-content>
  </div>

  <mat-autocomplete
    #matAutocompleteRef="matAutocomplete"
    (optionSelected)="handleOptionSelection($event)"
  >
    <mat-option
      *ngFor="let option of filteredOptions$ | async"
      [value]="option.label"
    >
      <div class="option-content">
        <div
          class="option-content__text"
          *ngIf="option.label | destructureLocationLabel as location"
        >
          <div class="option-content__city">
            <span>{{ location.cityName }}</span>
          </div>

          <div class="option-content__country">
            <span>{{ location.countryName }}</span>
          </div>
        </div>

        <div class="option-content__icon">
          <ng-container *ngTemplateOutlet="arrowRightSvg"></ng-container>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>

<ng-template #arrowRightSvg>
  <svg
    width="6"
    height="11"
    viewBox="0 0 6 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1 10.5L5 5.37179L1 0.5" stroke="#000000" stroke-linecap="round" />
  </svg>
</ng-template>
