@import '../scss-variables';

html {
  font-size: 12px;
}

@media (min-width: $smallMobileScreenWidth) {
  html {
    font-size: 14px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  html {
    font-size: 16px;
  }
}

@media (min-height: $mediumDesktopScreenHeight) {
  html {
    font-size: 18px;
  }
}
