@import "../scss-variables";

html {
  font-size: 14px;
}

@include for-tablet {
  html {
    font-size: 16px;
  }
}

@media (min-height: $mediumDesktopScreenHeight) {
  html {
    font-size: 18px;
  }
}
