@import '../../../styles/scss-variables';

:host {
  display: block;
  width: 15px;
  height: 15px;
}

svg {
  width: 15px;
  height: 15px;
}

path {
  transition: .25s stroke ease-in-out;

  &.black {
    stroke: var(--black-color);
  }

  &.grey {
    stroke: var(--grey-color);
  }
}

@media (min-width: $smallMobileScreenWidth) {
  :host {
    width: 18px;
    height: 18px;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
