:host {
  display: block;
  width: 18px;
  height: 18px;
}

svg {
  width: inherit;
  height: inherit;
}

path {
  transition: 0.25s stroke ease-in-out;

  &.black {
    stroke: var(--black-color);
  }

  &.grey {
    stroke: var(--grey-color);
  }
}
