@import '../../../styles/scss-variables';

$borderingPadding: var(--bordering-padding);

:host {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $borderingPadding $borderingPadding 30px $borderingPadding;
}

.toolbar {
  z-index: 1;
  flex-shrink: 0;
}

.actions {
  z-index: 1;
  flex-grow: 1;
  margin-top: 80px;
}

.man-with-globe-image {
  position: absolute;
  bottom: 0;
  right: $borderingPadding;
  z-index: 0;
}

@media (min-width: $smallMobileScreenWidth) {
  .actions {
    margin-top: 100px;
  }
}
