:host {
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  padding: var(--vertical-bordering-padding) var(--horizontal-bordering-padding)
    0 var(--horizontal-bordering-padding);
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: var(--max-content-width);
}

.toolbar {
  flex-grow: 1;
}
