@import "../../../styles/screen-size-mixins";

:host {
  display: block;
}

.signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.already-signed-up-call-to-action {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 30px;
  padding: 0 12px;
  text-align: end;
}

.already-signed-up-label {
  flex-shrink: 0;
  color: var(--black-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.login-call-to-action {
  flex-shrink: 0;
  margin-left: 5px;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.confirmation-checkbox {
  margin-bottom: 130px;
  padding: 0 12px;
}

.girl-with-heart-mobile-image {
  position: absolute;
  bottom: 2px;
  left: 13px;
  display: block;
  width: 70px;
  height: 149px;
}

.man-with-hearts-mobile-image {
  position: absolute;
  right: 20px;
  bottom: 2px;
  display: block;
  width: 59px;
  height: 149px;
}

@include for-tablet {
  .confirmation-checkbox {
    margin-bottom: 40px;
  }

  .girl-with-heart-mobile-image,
  .man-with-hearts-mobile-image {
    display: none;
  }
}
