<form
  class="signup-form"
  [formGroup]="_signupForm"
  (ngSubmit)="handleSignupSubmit($event)"
>
  <div
    class="app-control-container"
    *ngIf="_signupForm.controls.email as emailControl"
  >
    <app-input-control
      [label]="'controlLabel.email' | translate"
      [placeholder]="'placeholders.emailField' | translate"
      [required]="true"
      [maxCharactersAmount]="50"
      formControlName="email"
      type="email"
      mode="email"
    ></app-input-control>

    <div class="app-control-errors">
      <ng-container *ngIf="emailControl.touched">
        <div
          class="app-control-errors__item"
          *ngIf="emailControl.errors?.['required']"
        >
          <span>{{ "error.emailIsRequired" | translate }}</span>
        </div>

        <div
          class="app-control-errors__item"
          *ngIf="emailControl.errors?.['emailFormat']"
        >
          <span>{{ "error.incorrectEmailFormat" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    class="app-control-container"
    *ngIf="_signupForm.controls.password as passwordControl"
  >
    <app-input-control
      [label]="'controlLabel.password' | translate"
      [required]="true"
      [showCharactersAmount]="false"
      [placeholder]="'placeholders.passwordControl' | translate"
      [showVisibilityToggle]="true"
      formControlName="password"
      type="password"
    ></app-input-control>

    <div class="app-control-errors">
      <ng-container *ngIf="passwordControl.touched">
        <div
          class="app-control-errors__item"
          *ngIf="passwordControl.errors?.['required']"
        >
          <span>{{ "error.passwordIsRequired" | translate }}</span>
        </div>

        <div
          class="app-control-errors__item"
          *ngIf="passwordControl.errors?.['passwordFormat']"
        >
          <span>{{ "error.incorrectPasswordFormat" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    class="app-control-container"
    *ngIf="_signupForm.controls.confirmPassword as confirmPasswordControl"
  >
    <app-input-control
      [label]="'controlLabel.confirmPassword' | translate"
      [required]="true"
      [showCharactersAmount]="false"
      [placeholder]="'placeholders.passwordControl' | translate"
      [showVisibilityToggle]="true"
      formControlName="confirmPassword"
      type="password"
    ></app-input-control>

    <div class="app-control-errors">
      <ng-container *ngIf="confirmPasswordControl.touched">
        <div
          class="app-control-errors__item"
          *ngIf="confirmPasswordControl.errors?.['required']"
        >
          <span>{{ "error.passwordConfirmationIsRequired" | translate }}</span>
        </div>

        <div
          class="app-control-errors__item"
          *ngIf="confirmPasswordControl.errors?.['passwordsMatch']"
        >
          <span>{{ "error.passwordsDoNotMatch" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="already-signed-up-call-to-action">
    <span class="already-signed-up-label">{{
      "components.signupForm.alreadySignedUp" | translate
    }}</span>
    <a
      class="login-call-to-action"
      tabindex="-1"
      routerLink="/users-entry/login"
      >{{ "components.signupForm.login" | translate }}</a
    >
  </div>

  <app-checkbox-with-text-control
    class="confirmation-checkbox"
    [text]="'personalDataAgreementText' | translate"
    [required]="true"
    formControlName="personalDataAgreementConfirmation"
  ></app-checkbox-with-text-control>

  <svg-icon
    class="girl-with-heart-mobile-image"
    src="/assets/svg/images/girl-with-heart-mobile-image.svg"
  ></svg-icon>

  <svg-icon
    class="man-with-hearts-mobile-image"
    src="/assets/svg/images/man-with-hearts-mobile-image.svg"
  ></svg-icon>

  <ng-container *ngIf="_signupRequestState$ | async as state">
    <app-primary-button
      [disabled]="_signupForm.invalid"
      [isLoadingState]="state.inProgress"
    >
      <span>{{ "button.send" | translate }}</span>
    </app-primary-button>
  </ng-container>
</form>
