@import "../../../styles/scss-variables";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.offer-help-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

@media (min-width: $minLaptopScreenWidth) {
  .offer-help-dialog {
    align-items: center;
  }
}
