:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.offer-help-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.title {
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.locations-control {
  margin-bottom: 8px;
}

.date-control {
  margin-bottom: 8px;
}

.comment-control {
  margin-bottom: 30px;
}

.error-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 16px;
  padding: 0 12px;
}

.error-text {
  font-size: 0.8rem;
  color: var(--error-color);
  opacity: 0;
  transition: 0.25s opacity ease-in-out;

  &.error-text--visible {
    opacity: 1;
  }
}

.phones-control {
  margin-top: 8px;
}
