<!-- TODO: Refactor -->
<div class="offer-help-dialog app-scrollbar">
  <h2 class="title app-custom-dialog-title">
    {{ "dialogs.offerHelp.title" | translate }}
  </h2>

  <div class="app-custom-dialog-close-button" (click)="closeDialog()">
    <app-plus-icon class="app-custom-dialog-close-button-icon"></app-plus-icon>
  </div>

  <form class="form" [formGroup]="offerHelpForm">
    <app-locations-control
      class="locations-control"
      formControlName="locations"
    >
    </app-locations-control>

    <app-date-control
      class="date-control"
      [label]="'dialogs.offerHelp.whenFieldLabel' | translate"
      [required]="true"
      formControlName="date"
    >
    </app-date-control>

    <ng-container *ngIf="offerHelpForm.controls.comment as commentControl">
      <app-textarea-field-control
        class="comment-control"
        [label]="'dialogs.offerHelp.commentFieldLabel' | translate"
        [placeholder]="'placeholders.commentField' | translate"
        [warningColored]="commentControl.value === '' && commentControl.touched"
        formControlName="comment"
      >
      </app-textarea-field-control>

      <div class="warnings">
        <div
          class="warning-text"
          *ngIf="commentControl.value === '' && commentControl.touched"
        >
          <span>{{ "warnings.itIsBetterToLeaveAComment" | translate }}</span>
        </div>
      </div>
    </ng-container>

    <div class="controls-and-image">
      <div class="full-name-and-phone-numbers">
        <div class="control-container">
          <app-input-control
            class="full-name-control"
            [label]="'dialogs.offerHelp.fullNameFieldLabel' | translate"
            [required]="true"
            [placeholder]="'placeholders.fullNameField' | translate"
            formControlName="fullName"
          >
          </app-input-control>

          <div
            class="control-errors"
            *ngIf="offerHelpForm.controls.fullName as fullNameControl"
          >
            <ng-container *ngIf="fullNameControl.touched">
              <div
                class="error-text"
                *ngIf="fullNameControl.errors?.['required']"
              >
                <span>{{ "errors.fullNameIsRequired" | translate }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <app-dynamic-phone-list-control
          class="phones-control"
          [required]="true"
          formControlName="phones"
        >
        </app-dynamic-phone-list-control>
      </div>

      <div class="image">
        <app-man-with-mail-image></app-man-with-mail-image>
      </div>
    </div>
  </form>

  <div class="app-custom-dialog-actions">
    <button
      class="app-custom-dialog-actions__item app-primary-button"
      [disabled]="offerHelpForm.invalid"
      (click)="handleSendButtonClick()"
    >
      <span>{{ "dialogs.offerHelp.sendButtonLabel" | translate }}</span>
    </button>
  </div>
</div>
