:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.offer-help-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.title {
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.locations-control {
  margin-bottom: 10px;
}

.date-control {
  margin-bottom: 12px;
}

.error-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 20px;
  padding: 0 12px;
}

.error-text {
  font-size: 0.9rem;
  color: var(--error-color);
}

.warning-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 20px;
  padding: 0 12px;
}

.warning-text {
  font-size: 0.9rem;
  color: var(--warning-color);
}

.full-name-control {
  margin-top: 14px;
}

.phones-control {
  margin-top: 10px;
}
