<!-- TODO: Translations -->
<div class="confirm-dialog">
  <app-close-dialog-button
    (click)="closeDialog(false)"
  ></app-close-dialog-button>

  <h2 class="title">
    <span>Confirm</span>
  </h2>

  <div
    class="content"
    *ngIf="_dialogData.content as content; else defaultContentView"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>

  <ng-template #defaultContentView>
    <div class="content">
      <span>Confirm action.</span>
    </div>
  </ng-template>

  <div class="actions">
    <app-primary-button
      class="actions__item"
      [isDanger]="_dialogData.isDanger === true"
      (click)="closeDialog(true)"
    >
      <span>Yes</span>
    </app-primary-button>

    <app-secondary-button class="actions__item" (click)="closeDialog(false)">
      <span>Cancel</span>
    </app-secondary-button>
  </div>
</div>
