@import "../../../styles/scss-variables";

:host {
  display: block;
}

.confirm-dialog {
  display: flex;
  flex-direction: column;
}

.title {
  flex-shrink: 0;
  margin-bottom: 22px;
}

.content {
  flex-shrink: 0;
  margin-bottom: 22px;
}

.actions {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.actions__item {
  flex-shrink: 0;
  min-width: 105px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  .actions__item {
    min-width: 125px;
  }
}
