@import "../../../styles/scss-variables";

:host {
  display: block;
}

.list-load-error-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--error-color);
}

.image-container {
  width: 121px;
  height: 110px;

  & svg {
    width: inherit;
    height: inherit;
  }
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.actions__item {
  width: 100%;
  max-width: 280px;
}

@media (min-width: $minLaptopScreenWidth) {
  .image-container {
    width: 170px;
    height: 155px;
  }

  .actions__item {
    max-width: 515px;
  }
}
