:host {
  display: block;
  width: 70px;
}

.dropdown-control {
  width: inherit;
  height: inherit;

  &.dropdown-control--opened {
    .field__icon {
      transform: translateY(1px) rotate(180deg);
    }
  }
}

.field {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: 0 9px 0 12px;
}

.field__value {
  flex-grow: 1;
}

// ALIGN WITH GLOBAL PLACEHOLDER STYLES
.field__placeholder {
  pointer-events: none;
  flex-grow: 1;
  font-size: 0.95rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.field__icon-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: inherit;
}

.field__icon {
  width: 12px;
  height: 6px;
  transform: translateY(1px);
  transition: 0.15s transform ease-in-out;
}

.dropdown-options-panel {
  width: inherit;
  margin-top: 4px;
  padding: 10px 0;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 3px 10px 3px rgba($color: #4e91f7, $alpha: 0.15);
}

.option-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 12px;

  &.option-item--selected {
    background-color: rgba(0, 0, 0, 0.04);

    .option-item__label {
      color: var(--primary-color);
    }

    .option-item__icon svg path {
      stroke: var(--primary-color);
    }
  }
}

.option-item__label {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black-color);
}

.option-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  svg path {
    stroke: var(--black-color);
  }
}
