:host {
  display: block;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
