<div class="date-control custom-control">
  <label class="custom-control__label" *ngIf="controlLabel" [for]="controlId">
    <span>{{ controlLabel }}</span>
  </label>

  <input
    #inputRef
    class="custom-control__field"
    [id]="controlId"
    [class.custom-control__field--active]="matDateRangePickerRef.opened"
    [disabled]="controlDisabled"
    [value]="viewValue$ | async"
    type="text"
    readonly
    (click)="toggleDateRangePicker(matDateRangePickerRef)"
    (focus)="toggleDateRangePicker(matDateRangePickerRef)"
  />

  <mat-date-range-input
    class="date-range-input"
    [formGroup]="dateForm"
    [rangePicker]="matDateRangePickerRef"
    [min]="minDate"
    [max]="maxDate"
  >
    <input matStartDate formControlName="start" />
    <input matEndDate formControlName="end" />
  </mat-date-range-input>

  <mat-date-range-picker #matDateRangePickerRef></mat-date-range-picker>

  <button
    class="calendar-button"
    matRipple
    (click)="toggleDateRangePicker(matDateRangePickerRef)"
  >
    <app-calendar-icon></app-calendar-icon>
  </button>
</div>
