@import "../../../styles/scss-variables";

:host {
  display: flex;
  flex-shrink: 0;
  width: 100%;

  &.ng-invalid.ng-touched {
    .custom-control__field:not(.custom-control__field--active) {
      border-color: var(--error-color);
    }

    .calendar-button__icon:not(.calendar-button__icon--active) path {
      fill: var(--error-color);
    }
  }
}

.date-range-input {
  pointer-events: none;
  width: 0;
  height: 0;
  font-size: 0;
}

.calendar-button {
  position: absolute;
  right: 6px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.calendar-button__icon {
  & path {
    // TODO: Move transition speed to a variable
    transition: 0.25s fill ease-in-out;
  }

  &.calendar-button__icon--active path {
    fill: var(--primary-color);
  }

  &.calendar-button__icon--primary-colored path {
    fill: var(--primary-color);
  }
}

@media (min-width: $smallMobileScreenWidth) {
  .calendar-button {
    bottom: 6px;
    width: 36px;
    height: 36px;
  }

  .calendar-button__icon {
    width: 18px;
    height: 20px;
  }
}
