:host {
  display: flex;
  width: 22px;
  height: 10px;
}

svg {
  width: inherit;
  height: inherit;
}

path {
  transition: 0.25s stroke ease-in-out;

  &.grey {
    stroke: var(--grey-color);
  }

  &.primary {
    stroke: var(--primary-color);
  }
}
