@import '../../../styles/scss-variables';

:host {
  display: flex;
  width: 18px;
  height: 8px;
}

svg {
  width: 18px;
  height: 8px;
}

path {
  transition: .25s stroke ease-in-out;

  &.grey {
    stroke: var(--grey-color);
  }

  &.primary {
    stroke: var(--primary-color);
  }
}

@media (min-width: $smallMobileScreenWidth) {
  :host {
    width: 22px;
    height: 10px;
  }

  svg {
    width: 22px;
    height: 10px;
  }
}
