<form
  class="login-form"
  [formGroup]="_loginForm"
  (ngSubmit)="handleLoginSubmit($event)"
>
  <div
    class="app-control-container"
    *ngIf="_loginForm.controls.email as emailControl"
  >
    <app-input-control
      [label]="'controlLabel.email' | translate"
      [placeholder]="'placeholders.emailField' | translate"
      [required]="true"
      [maxCharactersAmount]="50"
      formControlName="email"
      type="email"
      mode="email"
    ></app-input-control>

    <div class="app-control-errors">
      <ng-container *ngIf="emailControl.touched">
        <div
          class="app-control-errors__item"
          *ngIf="emailControl.errors?.['required']"
        >
          <span>{{ "error.emailIsRequired" | translate }}</span>
        </div>

        <div
          class="app-control-errors__item"
          *ngIf="emailControl.errors?.['emailFormat']"
        >
          <span>{{ "error.incorrectEmailFormat" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    class="app-control-container"
    *ngIf="_loginForm.controls.password as passwordControl"
  >
    <app-input-control
      [label]="'controlLabel.password' | translate"
      [required]="true"
      [showCharactersAmount]="false"
      [placeholder]="'placeholders.passwordControl' | translate"
      [showVisibilityToggle]="true"
      formControlName="password"
      type="password"
    ></app-input-control>

    <div class="app-control-errors">
      <ng-container *ngIf="passwordControl.touched">
        <div
          class="app-control-errors__item"
          *ngIf="passwordControl.errors?.['required']"
        >
          <span>{{ "error.passwordIsRequired" | translate }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="not-signed-up-call-to-action">
    <span class="not-signed-up-label">{{
      "components.loginForm.notWithUsYet" | translate
    }}</span>
    <a
      class="signup-call-to-action"
      tabindex="-1"
      routerLink="/users-entry/signup"
      >{{ "components.loginForm.signup" | translate }}</a
    >
  </div>

  <svg-icon
    class="girl-with-heart-mobile-image"
    src="/assets/svg/images/girl-with-heart-mobile-image.svg"
  ></svg-icon>

  <svg-icon
    class="man-with-hearts-mobile-image"
    src="/assets/svg/images/man-with-hearts-mobile-image.svg"
  ></svg-icon>

  <ng-container *ngIf="_loginRequestState$ | async as state">
    <app-primary-button
      [disabled]="_loginForm.invalid"
      [isLoadingState]="state.inProgress"
    >
      <span>{{ "button.send" | translate }}</span>
    </app-primary-button>
  </ng-container>
</form>
