<div class="toolbar">
  <ng-container *ngIf="_isMobileOrTablet$ | async; else bigDeviceView">
    <div class="logo" [class.logo--small]="_isMenuOpened"></div>

    <div class="actions">
      <app-tools
        class="actions__tools"
        *ngIf="_isMenuOpened"
        [isCompact]="true"
      ></app-tools>

      <app-menu-button
        class="actions__menu-button"
        [isMenuOpened]="_isMenuOpened"
        (click)="handleMenuButtonClick()"
      ></app-menu-button>
    </div>
  </ng-container>
</div>

<ng-template #bigDeviceView>
  <div class="logo"></div>

  <div class="actions">
    <app-tools class="actions__tools"></app-tools>
  </div>
</ng-template>
