@import "../../../styles/scss-variables";

:host {
  display: flex;
  width: 100%;
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 40px;
}

.logo {
  display: block;
  flex-shrink: 0;
  width: 127px;
  height: 38px;
  background-image: url("/assets/images/logo_big_beta.png");
  background-size: 127px 38px;
  background-repeat: no-repeat;

  &.logo--small {
    width: 29px;
    background-image: url("/assets/images/logo_small_beta.png");
    background-size: 29px 38px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 40px;
}

.actions__menu-button {
  margin-left: 12px;
}

@media (min-width: $minLaptopScreenWidth) {
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 145px;
    height: 43px;
    background-image: url("/assets/images/logo_desktop_beta.png");
    background-size: 145px 43px;
    transform: translateX(-50%);
  }
}
