<div class="toolbar">
  <ng-container *ngIf="_isMobileOrTablet$ | async; else bigDeviceView">
    <a class="logo-container" routerLink="/">
      <div
        @fadeInOut
        #logoImageContainerRef
        *ngIf="!_isMenuOpened"
        class="logo-image-container"
      ></div>

      <div
        @fadeInOut
        #logoImageContainerRef
        *ngIf="_isMenuOpened"
        class="logo-image-container"
      ></div>
    </a>

    <div class="actions">
      <app-tools
        @fadeInOut
        class="actions__tools"
        *ngIf="_isMenuOpened"
        [isCompact]="true"
        [userIsLoggedIn]="_userIsLoggedIn"
      ></app-tools>

      <app-menu-button
        class="actions__menu-button"
        [isMenuOpened]="_isMenuOpened"
        (click)="handleMenuButtonClick()"
      ></app-menu-button>
    </div>
  </ng-container>
</div>

<ng-template #bigDeviceView>
  <a class="logo" routerLink="/"></a>

  <div class="actions">
    <app-tools
      class="actions__tools"
      [userIsLoggedIn]="_userIsLoggedIn"
    ></app-tools>
  </div>
</ng-template>
