:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.find-help-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.title {
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.locations-control {
  margin-bottom: 8px;
}

.date-control {
  margin-bottom: 8px;
}

.comment-control {
  margin-bottom: 30px;
}

.full-name-control {
  margin-bottom: 8px;
}
