@import "../../../styles/scss-variables";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.find-help-dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (min-width: $minLaptopScreenWidth) {
  .find-help-dialog {
    align-items: center;
  }
}
