@import "../../../styles/screen-size-mixins";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.login-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 30px var(--horizontal-bordering-padding) 0
    var(--horizontal-bordering-padding);
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  flex-shrink: 0;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.login-form {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.girl-with-heart-desktop-image,
.man-with-hearts-desktop-image {
  display: none;
}

@include for-tablet {
  .login-page {
    align-items: center;
    margin-top: 50px;
    overflow-x: hidden;
  }

  .content {
    position: relative;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 1020px;
    margin-bottom: 220px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
  }

  .title {
    margin-top: 30px;
    color: var(--primary-color);
  }

  .login-form {
    width: 460px;
  }

  .girl-with-heart-desktop-image {
    position: absolute;
    bottom: -33%;
    right: 68%;
    z-index: 0;
    display: block;
  }

  .man-with-hearts-desktop-image {
    position: absolute;
    bottom: -33%;
    left: 68%;
    z-index: 0;
    display: block;
  }
}
