<div class="success-create-feedback-section">
  <svg-icon
    class="girl-with-like-desktop-image"
    [svgStyle]="{ 'width.px': 196, 'height.px': 359 }"
    src="/assets/svg/images/girl-with-like-image.svg"
  ></svg-icon>

  <div class="content-container">
    <h2 class="title">
      {{ "components.successCreateFeedbackSection.title" | translate }}
    </h2>

    <div class="text">
      <span>{{
        "components.successCreateFeedbackSection.text" | translate
      }}</span>
    </div>

    <svg-icon
      class="girl-with-like-mobile-image"
      src="/assets/svg/images/girl-with-like-image.svg"
    ></svg-icon>

    <app-primary-button
      class="glad-to-help-button"
      (click)="handleGladToHelpButtonClick()"
    >
      <span>{{ "button.gladToHelp" | translate }}</span>
    </app-primary-button>
  </div>
</div>
