@import '../../../styles/scss-variables';

:host {
  display: flex;
  width: 35px;
  height: 35px;
}

.leave-feedback-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
}

@media (min-width: $smallMobileScreenWidth) {
  :host {
    width: 40px;
    height: 40px;
  }
}
