@import "../../../styles/scss-variables";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  min-height: 0;
  height: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: var(--max-content-width);
  min-height: 0;
  width: 100%;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.container__navigation-menu {
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

@media (min-width: $smallMobileScreenWidth) {
  .container__navigation-menu {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: $minLaptopScreenWidth) {
  .main {
    height: 600px;
    padding: 0 var(--horizontal-bordering-padding);
  }
}
