:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  background-color: var(--white-color);
  border-radius: 12px;
  overflow: hidden;
}

.container__navigation-menu {
  flex-shrink: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}
