:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 30px 20px;
  background-color: var(--white-color);
  border-radius: 12px;
}

.container__navigation-menu {
  flex-shrink: 0;
}

.container__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}
