:host {
  display: block;
}

.admin-help-offer-details {
  display: flex;
  flex-direction: column;
}

.paragraph {
  display: flex;
  flex-shrink: 0;
}

.paragraph__label {
  flex-shrink: 0;
  width: 120px;
  margin-right: 5px;
}

.paragraph__text {
  flex-grow: 1;
}
