<!-- TODO: Fill in with real data -->
<div class="help-offers-list-item">
  <div #staticPart class="static-part">
    <div class="info-area">
      <div class="info-area__direction">
        <span class="from">Минск</span>
        <span class="dash"> - </span>
        <span class="to">Вильнюс</span>
      </div>

      <div class="info-area__full-name">
        <span>Шик Дмитрий</span>
      </div>

      <div class="info-area__date">
        <!-- TODO: Depends on type of date (range or specific) -->
        <span>09.01.2023</span>
      </div>
    </div>

    <div class="toggle-icon-area">
      <app-arrow-down-icon
        class="toggle-icon-area__icon"
        [color]="_isHovered || _isExpanded ? 'primary' : 'grey'"
      >
      </app-arrow-down-icon>
    </div>
  </div>

  <div #collapsiblePart class="collapsible-part">
    <div class="comment">
      <span
        >Передать нужно небольшой пакетик. Размеры 40*60. Желательно в руки
        утром до 09.00. Дополнительно доплачу за это. Чем быстрее, тем
        лучше.</span
      >
    </div>

    <div class="phones">
      <a
        class="phones__item"
        href="tel:+48696726764"
        (click)="$event.stopImmediatePropagation()"
      >
        <span>+48 696726764</span>
      </a>

      <a
        class="phones__item"
        href="tel:+48696726764"
        (click)="$event.stopImmediatePropagation()"
      >
        <span>+48 696726764</span>
      </a>

      <a
        class="phones__item"
        href="tel:+48696726764"
        (click)="$event.stopImmediatePropagation()"
      >
        <span>+48 696726764</span>
      </a>
    </div>
  </div>
</div>
