:host {
  display: flex;
  width: 100%;
  transition: 0.25s height ease-in-out;

  &.hovered,
  &.expanded {
    .help-offers-list-item {
      z-index: 1;
      box-shadow: 5px 5px 15px 3px rgba($color: #4e91f7, $alpha: 0.2); // PRIMARY COLOR

      .info-area__direction {
        color: var(--primary-color);
      }
    }
  }

  &.expanded {
    .toggle-icon-area__icon {
      transform: rotate(180deg);
    }

    .collapsible-part {
      pointer-events: all;
    }

    .comment {
      color: var(--grey-color);
    }

    .phones__item {
      color: var(--primary-color);
    }
  }
}

.help-offers-list-item {
  cursor: pointer;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 20px 16px;
  background-color: var(--white-color);
  border-radius: 12px;
  transition: 0.25s all ease-in-out;
}

.static-part {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 22px;
}

.info-area {
  flex-grow: 1;
}

.info-area__direction {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--black-color);
  transition: 0.25s color ease-in-out;
}

.info-area__full-name {
  margin-bottom: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-color);
}

.info-area__date {
  font-size: 1rem;
  font-weight: 700;
  color: var(--grey-color);
  opacity: 0.5;
}

.toggle-icon-area {
  flex-shrink: 0;
  margin-left: 10px;
}

.toggle-icon-area__icon {
  margin-top: 3px;
  transition: 0.25s transform ease-in-out;
}

.collapsible-part {
  pointer-events: none;
  flex-shrink: 0;
}

.comment {
  font-size: 0.9rem;
  font-weight: 500;
  color: transparent;
  transition: 0.15s color ease-in-out;
}

.phones {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.phones__item {
  font-size: 0.9rem;
  font-weight: 500;
  color: transparent;
  transition: 0.15s color ease-in-out;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
