<ng-container *ngIf="_publishedHelpOffer">
  <app-foldable
    class="help-offers-list-item app-list-card"
    [class.app-list-card--hovered]="isHovered"
    [class.app-list-card--unfolded]="isUnfolded"
    matRipple
    [matRippleAnimation]="{ enterDuration: 450 }"
  >
    <ng-container staticPart>
      <div class="main-part">
        <div class="main-part__left">
          <div class="direction-and-full-name">
            <div class="direction">
              <span>{{
                _publishedHelpOffer.locationFrom
                  | laconicPlaceLabelFromLocationValue
                  | translate
              }}</span>
              <span> - </span>
              <span>{{
                _publishedHelpOffer.locationTo
                  | laconicPlaceLabelFromLocationValue
                  | translate
              }}</span>
            </div>

            <div class="full-name">
              <span>{{ _publishedHelpOffer.fullName }}</span>
            </div>
          </div>

          <div class="dates">
            <span>{{ _publishedHelpOffer.startDate }}</span>

            <ng-container *ngIf="_publishedHelpOffer.endDate as endDate">
              <span> - </span>
              <span>{{ endDate }}</span>
            </ng-container>
          </div>
        </div>

        <div class="main-part__right">
          <app-arrow-down-icon
            class="toggle-icon"
            [color]="isHovered || isUnfolded ? 'primary' : 'grey'"
          >
          </app-arrow-down-icon>
        </div>
      </div>
    </ng-container>

    <ng-container foldablePart>
      <div class="details-part">
        <div class="comment">
          <span>{{ _publishedHelpOffer.comment }}</span>
        </div>

        <div class="phones">
          <a
            class="phones__item"
            *ngFor="let phone of _publishedHelpOffer.phones"
            [href]="phone | buildPhoneHref"
            (click)="$event.stopImmediatePropagation()"
          >
            <span>{{ phone | viewPhone }}</span>
          </a>
        </div>
      </div>
    </ng-container>
  </app-foldable>
</ng-container>
