:host {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 56px;
  background-color: var(--primary-color);
  padding: 0 var(--horizontal-bordering-padding);
}

.content-container {
  display: flex;
  align-items: center;
  max-width: var(--max-content-width);
  width: 100%;
}

.copyright {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--white-color);
}

.leave-feedback-button {
  flex-shrink: 0;
  margin-left: 10px;
}
