<div class="confirm-application-deletion-dialog">
  <app-close-dialog-button
    (click)="closeDialog(false)"
  ></app-close-dialog-button>

  <h2 class="title">
    <span>{{
      "dialogs.confirmApplicationDeletionDialog.title" | translate
    }}</span>
  </h2>

  <div class="content-container">
    <svg-icon
      class="man-with-phone-mobile-image"
      src="/assets/svg/images/man-with-phone-image.svg"
    ></svg-icon>

    <div class="actions">
      <app-primary-button class="actions__item" (click)="closeDialog(true)">
        <span>{{ "button.yes" | translate }}</span>
      </app-primary-button>

      <app-primary-button class="actions__item" (click)="closeDialog(false)">
        <span>{{ "button.no" | translate }}</span>
      </app-primary-button>
    </div>

    <svg-icon
      class="man-with-phone-desktop-image"
      [svgStyle]="{ 'width.px': 178, 'height.px': 161 }"
      src="/assets/svg/images/man-with-phone-image.svg"
    ></svg-icon>
  </div>
</div>
