<div class="tools">
  <app-language-switcher
    class="item"
    [isCompact]="_isCompact"
  ></app-language-switcher>

  <app-about-button
    class="item"
    (click)="handleAboutButtonClick()"
  ></app-about-button>

  <app-account-button
    class="item"
    *ngIf="_isUserLoggedIn"
    [matMenuTriggerFor]="accountMenu.menuRef"
  ></app-account-button>

  <app-login-button
    class="item"
    *ngIf="!_isUserLoggedIn"
    routerLink="/users-entry/log-in"
    routerLinkActive="item--hidden"
  ></app-login-button>
</div>

<app-account-menu #accountMenu="accountMenu"></app-account-menu>
