<div class="tools">
  <app-language-switcher
    class="item"
    [isCompact]="_isCompact"
  ></app-language-switcher>

  <app-leave-feedback-button
    class="item"
    (click)="handleLeaveFeedbackButtonClick()"
  ></app-leave-feedback-button>

  <app-account-button
    class="item"
    *ngIf="_isUserLoggedIn"
    [matMenuTriggerFor]="accountMenu.menuRef"
  ></app-account-button>

  <app-login-button
    class="item"
    *ngIf="!_isUserLoggedIn && !_hideLoginButton"
    routerLink="/login"
  ></app-login-button>

  <!-- TODO: !IMPORTANT Replace it with back button or something -->
  <!-- Temporary solution -->
  <app-login-button
    class="item"
    *ngIf="_hideLoginButton"
    routerLink="/"
  ></app-login-button>
</div>

<app-account-menu #accountMenu="accountMenu"></app-account-menu>
