:host {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: inherit;
  color: var(--black-color);

  &.content--selected {
    color: var(--primary-color);
  }
}

.city-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50%;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  transition: 0.25s color ease-in-out;
}

.country-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50%;
  font-size: 0.85rem;
  color: inherit;
  transition: 0.25s color ease-in-out;
}

.arrow-icon-container {
  flex-shrink: 0;
  margin-left: 10px;
  padding: 6px 0;
}

.arrow-icon {
  width: 6px;
  height: 11px;
}
