<!-- TODO: Refactor, viewContext and errors streams -->
<div class="admin-manage-help-offer-dialog">
  <div class="header">
    <h1 class="header__title" mat-dialog-title>
      <span>{{ "dialogs.adminManageHelpOffer.title" | translate }}</span>
    </h1>

    <button
      class="header__close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="viewContext$ | async as viewContext">
    <ng-container *ngIf="!viewContext.deleted; else deletedHelpOfferView">
      <ng-container *ngIf="viewContext.getByIdInProgress">
        <div class="loading-view">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-container>

      <ng-container *ngIf="viewContext.fullHelpOffer as fullHelpOffer">
        <mat-dialog-content class="content">
          <app-admin-help-offer-details
            [helpOffer]="fullHelpOffer"
          ></app-admin-help-offer-details>

          <ng-container *ngIf="viewContext.updateStatusError || viewContext.deleteByIdError as error">
            <div class="update-status-error-message">
              <span>{{ error | appHttpErrorMessage }}</span>
            </div>
          </ng-container>
        </mat-dialog-content>

        <mat-dialog-actions class="actions">
          <div class="actions__status-changes">
            <button
              class="actions__item"
              *ngIf="fullHelpOffer.status !== helpOfferStatus.PUBLISHED"
              mat-raised-button
              color="custom-green"
              [disabled]="viewContext.updateStatusInProgress || viewContext.deleteByIdInProgress"
              (click)="handlePublishButtonClick()"
            >
              <span>{{ "dialogs.adminManageHelpOffer.publishButtonLabel" | translate }}</span>
            </button>

            <button
              class="actions__item"
              *ngIf="fullHelpOffer.status !== helpOfferStatus.UNPUBLISHED"
              mat-raised-button
              color="custom-yellow"
              [disabled]="viewContext.updateStatusInProgress || viewContext.deleteByIdInProgress"
              (click)="handleUnpublishButtonClick()"
            >
              <span>{{ "dialogs.adminManageHelpOffer.unpublishButtonLabel" | translate }}</span>
            </button>

            <button
              class="actions__item"
              *ngIf="fullHelpOffer.status !== helpOfferStatus.REJECTED"
              mat-raised-button
              color="custom-red"
              [disabled]="viewContext.updateStatusInProgress || viewContext.deleteByIdInProgress"
              (click)="handleRejectButtonClick()"
            >
              <span>{{ "dialogs.adminManageHelpOffer.rejectButtonLabel" | translate }}</span>
            </button>
          </div>

          <div class="actions__other">
            <div class="delete-button-container">
              <mat-spinner
                class="circle-timer"
                [value]="spinnerLength$ | async"
                mode="determinate"
                diameter="58"
                strokeWidth="2"
                color="primary"
              >
              </mat-spinner>

              <button
                mat-icon-button
                color="custom-red"
                [disabled]="!(deleteButtonEnabled$ | async) || viewContext.updateStatusInProgress || viewContext.deleteByIdInProgress"
                (click)="handleDeleteButtonClick()"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-dialog-actions>
      </ng-container>

      <ng-container *ngIf="viewContext.getByIdError as error">
        <div class="error-view">
          <app-http-error-response-card
            [httpErrorResponse]="error"
          ></app-http-error-response-card>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #deletedHelpOfferView>
      <app-admin-deleted-help-offer-dialog-view
        (ok)="closeDialog()"
      ></app-admin-deleted-help-offer-dialog-view>
    </ng-template>
  </ng-container>
</div>
