<!-- TODO: Remove comments, handle error cases -->
<div class="admin-manage-help-offer-dialog">
  <div class="header">
    <h1 class="header__title" mat-dialog-title>
      <span>{{ "dialogs.adminManageHelpOffer.title" | translate }}</span>
    </h1>

    <button
      class="header__close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- <ng-container *ngIf="getOneFullByIdRequestStateStream | async as httpRequestState"> -->

    <!-- <ng-container *ngIf="httpRequestState.name === httpRequestStateName.INITIAL">
      <div class="loading-view">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-container> -->

    <!-- <ng-container *ngIf="httpRequestState.name === httpRequestStateName.SUCCESS"> -->
      <ng-container *ngIf="fullHelpOffer$ | async as fullHelpOffer">
        <mat-dialog-content class="content">
          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.statusFieldLabel" | translate }}
            </strong>

            <app-admin-help-offer-status
              class="paragraph__text"
              [status]="fullHelpOffer.status"
              size="big"
            >
            </app-admin-help-offer-status>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.fullNameFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">{{ fullHelpOffer.authorFullName }}</span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.whereFromFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">
              <span>{{ fullHelpOffer.countryFrom }}, </span>
              <span>{{ fullHelpOffer.cityFrom }}</span>
            </span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.whereToFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">
              <span>{{ fullHelpOffer.countryTo }}, </span>
              <span>{{ fullHelpOffer.cityTo }}</span>
            </span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.dateFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">
              <ng-container *ngIf="fullHelpOffer.date.type === 'specific'">
                <span>{{ fullHelpOffer.date.specificDateAsString }}</span>
              </ng-container>

              <ng-container *ngIf="fullHelpOffer.date.type === 'range'">
                <span>З </span>
                <span>{{ fullHelpOffer.date.dateFromAsString }} </span>
                <span>па </span>
                <span>{{ fullHelpOffer.date.dateToAsString }}</span>
              </ng-container>
            </span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.phonesFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">
              <ng-container *ngFor="let phone of fullHelpOffer.phones; let isLast = last">
                <span>{{ phone.diallingCode }} </span>
                <span>{{ phone.number }}</span>
                <span *ngIf="!isLast">, </span>
              </ng-container>
            </span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.commentFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">{{ fullHelpOffer.comment }}</span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              {{ "dialogs.adminManageHelpOffer.createdDateTimeFieldLabel" | translate }}
            </strong>

            <span class="paragraph__text">{{ fullHelpOffer.createdAt | date:'MM/dd/YYYY HH:mm:ss' }}</span>
          </p>
        </mat-dialog-content>

        <mat-dialog-actions class="actions">
          <ng-container *ngIf="!(publishingInProgress$ | async); else loadingPublishButton">
            <button
              class="actions__item"
              [disabled]="allButtonsDisabled$ | async"
              *ngIf="fullHelpOffer.status !== helpOfferStatus.PUBLISHED"
              mat-raised-button
              color="publish"
              (click)="handlePublishButtonClick()"
            >
              <span>{{ "dialogs.adminManageHelpOffer.publishButtonLabel" | translate }}</span>
            </button>
          </ng-container>

          <ng-template #loadingPublishButton>
            <button
              class="actions__item"
              [disabled]="allButtonsDisabled$ | async"
              *ngIf="fullHelpOffer.status !== helpOfferStatus.PUBLISHED"
              mat-raised-button
              color="publish"
            >
              <mat-spinner [diameter]="20"></mat-spinner>
            </button>
          </ng-template>

          <button
            class="actions__item"
            [disabled]="allButtonsDisabled$ | async"
            *ngIf="fullHelpOffer.status !== helpOfferStatus.UNPUBLISHED"
            mat-raised-button
            color="unpublish"
            (click)="handleUnpublishButtonClick()"
          >
            <span>{{ "dialogs.adminManageHelpOffer.unpublishButtonLabel" | translate }}</span>
          </button>

          <button
            class="actions__item"
            [disabled]="allButtonsDisabled$ | async"
            *ngIf="fullHelpOffer.status !== helpOfferStatus.REJECTED"
            mat-raised-button
            color="reject"
            (click)="handleRejectButtonClick()"
          >
            <span>{{ "dialogs.adminManageHelpOffer.rejectButtonLabel" | translate }}</span>
          </button>

        </mat-dialog-actions>
      </ng-container>
    <!-- </ng-container> -->

    <!-- <ng-container *ngIf="httpRequestState.name === httpRequestStateName.FAILURE">
      <div class="error-view">
        <app-http-error-response-card
          [httpErrorResponse]="httpRequestState.error"
        ></app-http-error-response-card>
      </div>
    </ng-container> -->

  <!-- </ng-container> -->
</div>
