:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 0;
  padding: 40px var(--horizontal-bordering-padding);
}

.text {
  font-size: 1.5rem;
  text-align: center;
}

.main-page-button {
  width: 100%;
  max-width: 280px;
}
