:host {
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 16px var(--bordering-padding);
  background-color: var(--primary-color);
}

.copyright {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--white-color);
}

.leave-feedback-button {
  flex-shrink: 0;
  margin-left: 10px;
}
