:host {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: var(--bordering-padding);
  background-color: var(--primary-color);
}

.leave-feedback-button {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.copyright {
  flex-shrink: 0;
  font-size: 1rem;
  color: var(--white-color);
}
