.page {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.toolbar {
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 16px;
  overflow-y: scroll;
}
