<div class="help-offers-list app-scrollbar">
  <ng-container *ngIf="publishedHelpOffersState$ | async as state">
    <ng-container *ngIf="state.inProgress">
      <div class="loading-view">
        <app-spinner></app-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="state.data as data">
      <ng-container *ngIf="data.length !== 0; else emptyListView">
        <app-help-offers-list-item
          class="list-item"
          *ngFor="let item of data"
          [publishedHelpOffer]="item"
        >
        </app-help-offers-list-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="state.error as error">
      <!-- TODO: Error view -->
      <div class="error-view">
        <div>Status: {{ error.status }}</div>
        <div>Status text: {{ error.statusText }}</div>
        <div>Message: {{ error.message }}</div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyListView>
  <div class="empty-list-view">
    <!-- TODO: Translation -->
    <span>The list is empty.</span>
  </div>
</ng-template>
