:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.help-offers-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 10px var(--horizontal-bordering-padding) 20px
    var(--horizontal-bordering-padding);
  overflow-y: auto;
}

.list-item {
  flex-shrink: 0;
}
