<div class="help-offers-list">
  <ng-container *ngIf="publishedHelpOffersState$ | async as state">
    <ng-container *ngIf="state.inProgress">
      <div class="loading-view">
        <app-spinner></app-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="state.data as data">
      <ng-container *ngIf="data.length !== 0; else emptyListView">
        <div class="content-view app-scrollbar">
          <app-help-offers-list-item
            class="list-item"
            *ngFor="let item of data"
            [publishedHelpOffer]="item"
          >
          </app-help-offers-list-item>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="state.error as error">
      <app-list-load-error-view
        class="error-view"
        (reloadClick)="handleReloadClick()"
      ></app-list-load-error-view>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyListView>
  <div class="empty-list-view">
    <span>{{ "placeholders.emptyList" | translate }}</span>
  </div>
</ng-template>
