@import '../../../styles/scss-variables';

// TODO: Think about common styles
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.help-offers-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 10px var(--horizontal-bordering-padding) 20px
    var(--horizontal-bordering-padding);
  overflow-y: auto;
}

.loading-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 50px;
}

.list-item {
  flex-shrink: 0;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.empty-list-view {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 50px;
  font-size: 1.1rem;
  font-style: italic;
  color: var(--grey-color);
  opacity: 0.7;
}

@media (min-width: $minLaptopScreenWidth) {
  .loading-view {
    padding-top: 100px;
  }

  .empty-list-view {
    padding-top: 100px;
  }
}
