// TODO: Think about common styles
$padding: 12px;

:host {
  display: flex;
  width: 100%;
}

.textarea-field-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  flex-shrink: 0;
  margin-bottom: 3px;
  padding: 0 $padding;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.control {
  flex-shrink: 0;
  min-height: 136px;
  padding: 15px $padding;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-color);
  resize: none;
  transition: .25s border-color ease-in-out;

  &:focus {
    border-color: var(--primary-color);
  }
}
