<div class="textarea-field-control custom-control">
  <div class="top-panel">
    <label class="label" *ngIf="controlLabel" [for]="controlId">
      <span>{{ controlLabel }}</span>
    </label>

    <div
      class="characters-counter"
      [class.characters-counter--primary-colored]="controlFocused"
      [class.characters-counter--warning-colored]="controlWarningColored"
      *ngIf="controlMaxCharacters"
    >
      <span>{{ textareaRef.value.length }}</span>
      <span>/</span>
      <span>{{ controlMaxCharacters }}</span>
    </div>
  </div>

  <textarea
    #textareaRef
    class="control app-custom-placeholder"
    [class.control--warning-colored]="controlWarningColored"
    [id]="controlId"
    [disabled]="controlDisabled"
    [value]="controlValue"
    [placeholder]="controlPlaceholder"
    [maxLength]="controlMaxCharacters"
    (input)="handleTextareaValueChange(textareaRef.value)"
    (focus)="handleTextareaFocus()"
    (blur)="handleTextareaBlur()"
  >
  </textarea>
</div>
