<div
  class="textarea-field-control custom-control"
  [class.custom-control--required]="controlRequired"
>
  <div class="custom-control__top-panel">
    <label
      class="custom-control__top-panel-label"
      *ngIf="controlLabel"
      [for]="controlId"
    >
      <span>{{ controlLabel }}</span>
    </label>

    <div
      class="custom-control__top-panel-characters-counter"
      [class.custom-control__top-panel-characters-counter--primary-colored]="
        controlFocused
      "
      [class.custom-control__top-panel-characters-counter--warning-colored]="
        controlWarningColored
      "
      *ngIf="controlMaxCharactersAmount"
    >
      <span>{{ textareaRef.value.length }}</span>
      <span>/</span>
      <span>{{ controlMaxCharactersAmount }}</span>
    </div>
  </div>

  <textarea
    #textareaRef
    class="custom-control__field app-custom-placeholder app-scrollbar"
    [class.custom-control__field--warning-colored]="controlWarningColored"
    [id]="controlId"
    [disabled]="controlDisabled"
    [value]="controlValue"
    [placeholder]="controlPlaceholder"
    [maxLength]="controlMaxCharactersAmount"
    (input)="handleTextareaValueChange(textareaRef.value)"
    (focus)="handleTextareaFocus()"
    (blur)="handleTextareaBlur()"
  >
  </textarea>
</div>
