:host {
  display: block;
  width: inherit;

  &.ng-invalid.ng-touched {
    .custom-control__top-panel-characters-counter {
      color: var(--error-color);
    }

    .custom-control__field {
      border-color: var(--error-color);
    }
  }
}

.custom-control__field {
  min-height: 112px;
  padding: 10px 12px;
  line-height: 20px;
  resize: none;
}
