<div class="textarea-field-control custom-control">
  <div class="top-panel">
    <label class="label" *ngIf="controlLabel" [for]="controlId">
      <span>{{ controlLabel }}</span>
    </label>

    <div
      class="characters-counter"
      [class.characters-counter--primary-colored]="isFocused"
      *ngIf="controlMaxCharacters"
    >
      <span>{{ textareaRef.value.length }}</span>
      <span>/</span>
      <span>{{ controlMaxCharacters }}</span>
    </div>
  </div>

  <textarea
    #textareaRef
    class="control"
    [id]="controlId"
    [disabled]="controlDisabled"
    [value]="controlValue"
    [maxLength]="controlMaxCharacters"
    (input)="handleControlValueChange(textareaRef.value)"
    (focus)="handleControlFocus()"
    (blur)="handleControlBlur()"
  >
  </textarea>
</div>
