:host {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__status {
  flex-shrink: 0;
  padding: 3px 5px;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--light-black-color);
  border-radius: 5px;
}

.header__status_published {
  color: var(--green-color);
  background-color: var(--light-green-color);
}

.header__status_unpublished {
  color: var(--amber-color);
  background-color: var(--light-amber-color);
}

.header__status_rejected {
  color: var(--red-color);
  background-color: var(--light-red-color);
}

.footer {
  display: flex;
  align-items: flex-end;
  min-height: 52px;
  padding: 16px;
}

.creation-date {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 12px;
  color: gray;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
