<mat-card class="admin-help-offer-card">
  <ng-container *ngIf="_helpOfferFullPreview; else emptyCardView">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <span>{{ _helpOfferFullPreview.authorFullName }}</span>
      </mat-card-title>

      <app-admin-small-help-offer-status
        class="header__status"
        [status]="_helpOfferFullPreview.status"
        size="small"
      ></app-admin-small-help-offer-status>
    </mat-card-header>

    <mat-card-content>
      <div>
        {{ _helpOfferFullPreview.countryFrom }} => {{ _helpOfferFullPreview.countryTo }}
      </div>
    </mat-card-content>

    <mat-card-footer class="footer">
      <div class="creation-date">
        <span>{{ _helpOfferFullPreview.createdAt | date:'MM/dd/YYYY' }}</span>
      </div>

      <div class="actions">
        <button mat-flat-button color="primary" (click)="handleManageButtonClick()">
          <span>{{ 'pages.adminHelpOffers.helpOfferCard.manageButtonLabel' | translate }}</span>
        </button>
      </div>
    </mat-card-footer>
  </ng-container>

  <!-- TODO: Translate -->
  <ng-template #emptyCardView>
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>No content.</p>
    </mat-card-content>
  </ng-template>
</mat-card>
