@import "../../../styles/scss-variables";

:host {
  display: block;
}

.navigation-menu {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 18px;
  max-height: 29px;
  padding: 0 var(--horizontal-bordering-padding);
}

.item {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 50%;
  padding: 0 8px;
}

.item__link {
  font-size: 0.9rem;
  text-align: center;
  transition: 0.25s color ease-in-out;

  &.item__link--active {
    color: var(--primary-color);
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.5px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 1px;
  transform: translateX(-50%);
}

@media (min-width: $minLaptopScreenWidth) {
  .navigation-menu {
    min-height: 22px;
  }

  .item {
    padding: 0 20px;

    &:first-child {
      justify-content: flex-end;
    }

    &:last-child {
      justify-content: flex-start;
    }
  }

  .divider {
    width: 2px;
  }
}
