:host {
  display: block;
}

.navigation-menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 18px;
}

.item {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 50%;
}

.item__link {
  font-size: 0.9rem;
  text-align: center;

  &.item__link--active {
    color: var(--primary-color)
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.5px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 1px;
  transform: translateX(-50%);
}
