<div class="navigation-menu">
  <div class="item">
    <a
      class="item__link"
      routerLink="/help-offers"
      routerLinkActive="item__link--active"
    >
      <span>{{
        "pages.index.navigationMenu.offerHelpLinkLabel" | translate
      }}</span>
    </a>
  </div>

  <div class="divider"></div>

  <div class="item">
    <a
      class="item__link"
      routerLink="/help-requests"
      routerLinkActive="item__link--active"
    >
      <span>{{
        "pages.index.navigationMenu.findHelpLinkLabel" | translate
      }}</span>
    </a>
  </div>
</div>
