:host {
  display: block;
}

.navigation-menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 18px;
}

.item {
  display: flex;
  flex-shrink: 0;
  width: 50%;

  &:first-child {
    justify-content: flex-end;
    padding-right: 14px;
  }

  &:last-child {
    padding-left: 14px;
  }
}

.item__link {
  font-size: 0.9rem;

  &.item__link--active {
    color: var(--primary-color)
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.5px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 1px;
  transform: translateX(-50%);
}
