<div class="admin-help-requests-page page">
  <mat-toolbar class="toolbar" color="primary">
    <span>Help requests</span>
  </mat-toolbar>

  <div class="content app-scrollbar">
    <div *ngIf="_loading; else content">Loading...</div>

    <ng-template #content>
      <div *ngIf="_getAllHelpRequestsError; else helpRequestsBlock">
        <span>Error occurred. For more details check dev tools.</span>
      </div>

      <ng-template #helpRequestsBlock>
        <ng-container
          *ngIf="(_allHelpRequests?.value$ | async) || [] as allHelpRequests"
        >
          <app-admin-full-applications-table
            *ngIf="allHelpRequests.length > 0"
            [fullApplicationList]="allHelpRequests"
            (publishApplication)="handlePublishApplication($event)"
            (unpublishApplication)="handleUnpublishApplication($event)"
            (rejectApplication)="handleRejectApplication($event)"
            (deleteApplication)="handleDeleteApplication($event)"
          ></app-admin-full-applications-table>

          <div *ngIf="allHelpRequests.length === 0">
            <span>No help requests.</span>
          </div>
        </ng-container>
      </ng-template>
    </ng-template>
  </div>
</div>
