<div class="admin-help-requests-page page">
  <mat-toolbar class="toolbar" color="primary">
    <span>Help requests</span>
  </mat-toolbar>

  <div class="content app-scrollbar">
    <ng-container *ngIf="_getAllHelpRequestsError; else contentBlock">
      <div>Error occurred. For more details check dev tools.</div>
    </ng-container>

    <ng-template #contentBlock>
      <app-admin-full-applications-table
        [fullApplicationList]="(_allHelpRequests?.value$ | async) || []"
        (publishApplication)="handlePublishApplication($event)"
        (unpublishApplication)="handleUnpublishApplication($event)"
        (rejectApplication)="handleRejectApplication($event)"
        (deleteApplication)="handleDeleteApplication($event)"
      ></app-admin-full-applications-table>
    </ng-template>
  </div>
</div>
