<div class="success-confirm-user-view">
  <div class="content">
    <h2 class="title">
      {{ "components.successConfirmUserView.title" | translate }}
    </h2>

    <svg-icon
      class="welcome-girl-mobile-image"
      [style.width.px]="136"
      [style.height.px]="216"
      src="/assets/svg/images/welcome-girl-image.svg"
    ></svg-icon>

    <!-- TODO: Prefill user email after redirect -->
    <app-primary-button
      class="thank-you-button"
      routerLink="/users-entry/login"
    >
      <span>{{ "button.login" | translate }}</span>
    </app-primary-button>
  </div>

  <svg-icon
    class="welcome-girl-desktop-image"
    [style.width.px]="224"
    [style.height.px]="359"
    [svgStyle]="{ 'width.px': 224, 'height.px': 359 }"
    src="/assets/svg/images/welcome-girl-image.svg"
  ></svg-icon>
</div>
