:host {
  display: flex;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 12px;
}

.language {
  cursor: pointer;
  font-weight: 600;
  color: var(--grey-color);
  text-transform: capitalize;

  &.language--selected {
    color: var(--black-color);
  }

  &:first-child {
    margin-right: 6px;
  }
}
