@import "../../../styles/scss-variables";

:host {
  display: flex;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57.75px;
  height: 35px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

.language {
  cursor: pointer;
  font-weight: 600;
  color: var(--grey-color);
  text-transform: capitalize;

  &.language--selected {
    pointer-events: none;
    color: var(--black-color);
  }

  &:not(:last-child) {
    margin-right: 6px;
  }
}

@media (min-width: $smallMobileScreenWidth) {
  .language-switcher {
    width: 66px;
    height: 40px;
  }
}
