:host {
  display: block;
  width: inherit;
}

.dynamic-phone-list-control {
  display: flex;
  flex-direction: column;
  width: inherit;

  // TODO: Think about aligning with common styles
  &.dynamic-phone-list-control--required .label::after {
    content: '*';
    margin-left: 1px;
    color: var(--error-color);
  }
}

.label {
  flex-shrink: 0;
  width: inherit;
  margin-bottom: 6px;
  padding: 0 12px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
}

.control-list {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.control-list__item {
  flex-shrink: 0;
  width: inherit;

  &:not(:first-child) {
    margin-top: 6px; // TODO: Align with the design
  }
}

.error-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 26px;
  padding: 0 12px;
}

.error-text {
  font-size: 0.9rem;
  color: var(--error-color);
  white-space: pre;
}
