<div
  class="dynamic-phone-list-control"
  [class.dynamic-phone-list-control--required]="controlRequired"
>
  <div class="label">
    <span>{{
      "components.dynamicListPhoneControl.phoneNumbersLabel" | translate
    }}</span>
  </div>

  <div class="control-list" *ngIf="phoneControlsFormArray.controls as phones">
    <form
      class="control-list__item"
      *ngFor="
        let phone of phones;
        let phoneIndex = index;
        let isFirstPhone = first
      "
    >
      <app-phone-control
        [class.ng-invalid]="nonePhoneIsFilledIn$ | async"
        [formControl]="phone"
        [required]="isFirstPhone"
        [showPlus]="isFirstPhone && phones.length < maxPhonesAmount"
        [showMinus]="!isFirstPhone"
        placeholder="XXXXXXXXX"
        (plusClick)="appendEmptyPhoneControl()"
        (minusClick)="removePhoneControlByIndex(phoneIndex)"
      >
      </app-phone-control>
    </form>

    <div class="error-container">
      <span
        class="error-text"
        *ngIf="
          (nonePhoneIsFilledIn$ | async) && atLeastOnePhoneIsTouched(phones)
        "
        >{{ "error.atLeastOnePhoneNumberIsRequired" | translate }}</span
      >
    </div>
  </div>
</div>
