:host {
  display: block;
}

.login-or-register-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex-shrink: 0;
  padding: 0 16px;
}

.girl-with-laptop-image {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.actions__item {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
