@import "../../../styles/scss-variables";

$systemMessageContainerHeight: 26px;

:host {
  display: block;
}

.locations-control {
  display: flex;
  flex-direction: column;
}

.locations-control-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.control-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;

  &.control-container--to {
    margin-top: 14px;
  }
}

.control {
  flex-shrink: 0;
}

.control-errors {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: $systemMessageContainerHeight;
  padding: 0 12px;
}

.error-text {
  flex-shrink: 0;
  font-size: 0.9rem;
  color: var(--error-color);
}

.switch-locations-button-container {
  position: absolute;
  right: 6px;
  top: 80px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-locations-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 30px;
  transition: 0.25s opacity ease-in-out;

  svg path {
    transition: 0.25s fill ease-in-out;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;

    svg path {
      fill: var(--grey-color);
    }
  }
}

.warnings {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: $systemMessageContainerHeight;
  padding: 0 12px;
}

.warning-text {
  flex-shrink: 0;
  font-size: 0.9rem;
  color: var(--warning-color);
}

@media (min-width: $minLaptopScreenWidth) {
  .locations-control {
    &.locations-control--warning {
      .control-errors {
        display: none;
      }
    }

    &:not(.locations-control--warning) {
      .warnings {
        display: none;
      }
    }
  }

  .locations-control-form {
    flex-direction: row;
  }

  .control-container {
    width: 230px;

    &.control-container--to {
      margin-top: 0;
    }
  }

  .switch-locations-button-container {
    position: relative;
    right: 0;
    top: 0;
    align-items: flex-end;
    flex-shrink: 0;
    width: 60px;
    height: 68px;
  }

  .switch-locations-button {
    position: relative;
    bottom: 7px;
  }
}
