<div class="language-switcher" [class.language-switcher--big]="!_isCompact">
  <ng-container *ngIf="_isCompact; else languageListView">
    <app-white-square-button
      [title]="'helpTitles.changeLanguage' | translate"
      (click)="handleSingleLanguageClick()"
    >
      <span
        class="current-language"
        *ngIf="languagesService.currentLanguage$ | async as currentLanguage"
        >{{ currentLanguage.label }}</span
      >
    </app-white-square-button>
  </ng-container>
</div>

<ng-template #languageListView>
  <div
    class="language"
    *ngFor="
      let language of languagesService.languages$ | async;
      trackBy: trackLanguageByValue
    "
    matRipple
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"
    [class.language--selected]="language.selected"
    (click)="handleLanguageOptionClick(language.value)"
  >
    <span>
      {{ language.label }}
    </span>
  </div>
</ng-template>
