@import "../../../styles/screen-size-mixins";

:host {
  display: flex;
}

.language-switcher {
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);

  &.language-switcher--big {
    display: flex;
    justify-content: center;
    width: 66px;
  }
}

.current-language {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
}

.language {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-color);
  text-transform: capitalize;
  transition: 0.25s color ease-in-out;

  &.language--selected {
    pointer-events: none;
    color: var(--black-color);
  }

  &:not(:last-child) {
    margin-right: 6px;
  }
}

@include for-tablet {
  .current-language {
    font-weight: 600;
  }
}
